<h1>

  <div class="hijo">
    <div style="width: auto;height: auto;">
      <div class="hijo" style="margin-left: 50px;">
        <div class="card" style="width: 210px;height: 200px;margin-right: -490px;">
          <div class="card__content2" style="width: 200px;height: 200px;margin-right: -500px;" >
            <label class="hijo stroke" type="text" style="color: black;text-align: center;font-weight: bold;" >&nbsp;<p class="h1" style="margin-top: 20px; color: #90E0EF;">Total</p><p class="h1" id="CorrectPercent" style="margin-top: -10px; color: white;">0%</p></label>
          </div>
        </div>
      </div>

      <div class="hijo" id="tableBtn" style="margin-top: -200px;">
        <div class="card" style="width: 520px;height: 200px;margin-left: -210px;" >
        <div class="card__content" style="width: 510px;height: 200px; text-align: center;color: #90E0EF;">
          <div style="margin-top: 20px;">
          <label class="h2" id="PalabraGame" style="font-weight: bold;text-shadow: 3px 2px black;">Palabra:</label>&nbsp;&nbsp;<label class="h2" id="currentWord" style="font-weight: bold;text-transform: capitalize;color: white;margin-top: 20px;text-shadow: 3px 2px black;"></label>
          <br>
          <label class="h2" id="PorcentGame"  style="font-weight: bold;margin-top: 40px;text-shadow: 3px 2px black;">% de Acierto:</label>&nbsp;&nbsp;<label class="h2" id="percentResult" style="font-weight: bold;color: white;margin-top: 20px;text-shadow: 3px 2px black;"></label>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</h1>


<div class="hijo">
  <div class="border hijo">
  <div class="containerz-cardz2 hijo" style="height: 160px;width: 500px;margin-top: -5px;">
    <div style="margin-top: -40px;">

      <label class="hijo h1" type="text" style="color: white;font-size:1.5em;text-align: center;" id="RandonWord"  (click)="ChangeWord()">&nbsp;<p style="font-size: 60px;">🔊</p></label>

      <div class="hijo">
        <div class="hijo" id="rate-control" style="margin-top: -5px;">
          <p style="transform: scaleX(1);font-size: 35px;">🐌</p><input class="win10-thumb" style="rotate: 90;" type="range" min="0.5" max="2" step="0.1" id="rate"/><p style="transform: scaleX(-1);font-size: 35px;">🐇</p>
        </div>
      </div>

    </div>

  </div>
</div>

</div>



    <div class="hijo" style="margin-top: 20px;">

    <label for="Desde" style="font-weight: bold;font-size: 30px;" >Escriba la Palabra Escuchada</label>
    <br>
    <input type="text" id="Percent" name="fname" style="text-align: center;background-color: CAF0F8;width: 300px;font-size: 2.0em;font-weight: bold;">

       <button class="button-29 NuevaPreguntaBtn hijo" type="button" (click)="NewQuest(1)" style="margin-top: 10px;"><p id="btnAnswer" style="font-size: 1.5em;font-weight: bold;margin-top: 8px;text-shadow: 3px 2px black;">Responder</p></button>
        <button class="button-29 NuevaPreguntaBtn hijo" type="button" id="btnNew" (click)="NewQuest(2)" style="margin-top: 10px;"><p style="font-size: 1.5em;font-weight: bold;margin-top: 8px;text-shadow: 3px 2px black;">Nueva Pregunta</p></button>

    <br>
  </div>

<br>
<br>

<div class="hijo">

  <form class="HastaDesde" >

    <div class="blog-card spring-fever" id="blogcard">

      <div style="margin-top: 20px;margin-left: 10px;">
        <div class="DesdeHastaSize">
          <h5>
        <label class="h3" for="Desde" style="margin-right: 370px">Desde:</label>
          </h5>
        </div>
        <label for="Desde">&nbsp;</label>
        <input type="number" id="Desde"  name="fname" b style="font-weight: bold; text-indent: 10px;background-color: white;margin-left: -200px;height: 25px;"><br><br>

        <div id="validationDesde" style="margin-top: -25px;margin-bottom: -25px;text-align: left;margin-left: 35px;display: none;">
        <br>
        <label class="h6" style="color: white;text-transform: none;" for="Desde">el valor minimo es 1</label>
        <br>
        <br>
        </div>

        <div class="DesdeHastaSize">
          <h5>
        <label class="h3"  for="Hasta" style="margin-right: 370px">Hasta:</label>
          </h5>
        </div>

        <label for="Desde">&nbsp;</label>
        <input type="number" id="Hasta" name="lname" style="font-weight: bold;text-indent: 10px;background-color: white;;margin-left: -200px;"><br><br>

        <div id="validation4" style="margin-left: 35px; margin-top: -25px;margin-bottom: -25px;width: 500px;text-align: left;display: none;">
        <br>
        <label class="h6"  style="color:  white; text-transform: none;" for="Desde">el rango de datos no puede ser inferior a 4</label>
        <br>
        <br>
        </div>
        <div id="validation5" style="margin-left: 35px; margin-top: -25px;margin-bottom: -25px;width: 500px;text-align: left;display: none;">
        <br>
        <label class="h6"  style="color:  white; text-transform: none;" for="Desde">el valor maximo no puede <br> ser mayor al numero de datos</label>
        <br>
        <br>
        </div>
        </div>

      <br>

    </div>

    <div class="btnCargarBox">

      <button class="button-54" type="button" style="top:20%;margin-left: 250px;width: 150px;height: 50px;" (click)="ChangeRandom()">Cambiar</button>

    </div>

  </form>

  <div class="hijo" style="margin-top: 20px;">
    <div class="uploadfilebox grid-containerUploadFile" style="margin-top: 30px;">
      <label class="input-group-text uploadfile item1-Up" for="inputGroupFile">&nbsp;&nbsp;Seleccionar archivo excel</label>
      <br class="brfileupt">
      <br class="brfileupt">
      <label class="input-group-text uploadfile item2-Up " id="FileUploaded">&nbsp;&nbsp;Archivo No Cargado:&nbsp;<p id="correcto" style="color: red;margin-bottom: -2px;">X</p></label>
      <input type="file" id="inputGroupFile" style="display: inline-block;visibility:hidden;" (change)="incomingfile($event)" accept=".xlsx">
      <button class="btnCargar btn btn-info item3-Up" type="button" (click)="Upload()"><p class="h2" style="margin-top: 10px;">Cargar</p></button>
    </div>
    </div>

<label class="hijo" id="suma" style="font-size: 20px; color: white;" >0</label>



