
<!--<body style="background-color: rgb(190, 234, 255)">-->
  <body style="background-color: #90E0EF">
<!-- First example using JavaScript and Angular ViewChild -->
<div class="article" #titleContainer></div>

<!-- Second example using Angular innerHTML -->
<div class="article" [innerHTML]="element"></div>


<!--<button type="button" (click)="addoption2()">New option 2</button>-->

<!--<label for="htmlelement">Choose a car:</label>
<select id="htmlelement" name="htmlelement">
  <button (click)="newRadiosOption2()" value="title">Title</button>
  <button (click)="addoption()" value="text">Text</button>
  <button (click)="newRadiosOption()" value="radius">Radius</button>
  <button (click)="addoption()" value="image">Image</button>
</select>-->
<br>
<div class="margenitem dropdown">

  <button>Create New Element</button>
  <div class="dropdown-content">
  <a (click)="newRadiosOption2()">Title</a>
  <a (click)="newRadiosOption()">Radius</a>
  <a (click)="addoption()">Text</a>
  <a (click)="addoption()">Image</a>
  </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<button type="button" (click)="addoption2()">New option 3</button>
<input type="text" id="fname" name="fname" #borrarid>
<button type="button" (click)="deleteoption(borrarid.value)">Delete option</button>
<br>
<button type="button" id="borrador" (click)="borrar()">Borrado</button>
<br>
<button type="button" id="plus" (click)="plus()">sumar div</button>
<button type="button" (click)="addoption()">New option</button>
<button type="button" (click)="newRadiosOption()">New Radios Option</button>

<div id="comehere"></div>

<!--<button (click)="addTemplate()">Get Template</button>-->
<!--<div [innerHTML]="myTemplate | safeHtml"></div>-->
<br>
<button type="button" (click)="EditObject()">Editar Array</button>
<button type="button" (click)="GenerateObject()">Generar Array</button>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--<div class="center2" style="border: 5px solid black;width: 70%;height: 450px;margin-top: 240px;"></div>-->

<div style="text-transform: capitalize;">

  <div class="containerz" >
    <div class="gradient-cardsz" style="margin-left: 60px;">
      <div class="cardz" >
        <div class="containerz-cardz bg-blue-box" style="width: 1000px;height: 520px;">

              <div>
                <div id="questbox"  style="height: 500px;width: 600px;">
              <h1>
              <label class="center2" type="text" style="color: white;font-size:1.5em" id="RandonWord"  (click)="ChangeWord()"></label>
              </h1>
              <br>
              <h3>
              <div class="grid-containerquest" style="margin-left: 50px;margin-top: 100px; position: absolute;">
              <div class="item1-q" >
              <button class="button-54" type="button" id="item1-q" style="width: 400px;height: 70px;text-transform: capitalize;" #1 (click)="TrueAnswer('item1-q')"><p style="color: black;">Editar Array</p></button>
              </div>
              <div class="item2-q">
              <button class="button-54" type="button" id="item2-q" style="width: 400px;height: 70px;text-transform: capitalize;"   (click)="TrueAnswer('item2-q')">Editar Array</button>
              </div>
              <div class="item3-q">
              <button class="button-54" type="button" id="item3-q" style="width: 400px;height: 70px;text-transform: capitalize;" (click)="TrueAnswer('item3-q')">Editar Array</button>
              </div>
              <div class="item4-q">
              <button class="button-54" type="button" id="item4-q" style="width: 400px;height: 70px;text-transform: capitalize;" (click)="TrueAnswer('item4-q')">Editar Array</button>
              </div>
              </div>
              </h3>

              <br>
              <br>
              <br>

              <h4>

                  <button class="button-54" type="button" id="item5-q" style="width: 450px;height: 60px;margin-left: 38%;margin-top: 250px;text-transform:capitalize;" (click)="NewQuest()">Nueva Pregunta</button>

              </h4>
              </div>

              <br>

              <div class="container" id="imagecorrect" style="display: none;height: 500px;" >
                <div class="zoom-in-zoom-out center">
                <img width= "300px"  style="margin-left: -150px;margin-bottom: -250px;" src="assets/CorrectIcon.png">
                </div>
              </div>

              </div>

            </div>
      </div>

    </div>
  </div>

<!--<div>
  <div id="questbox"  style="height: 500px;width: 600px;">
<h1>
<label class="center2" type="text" id="RandonWord" (click)="ChangeWord()"></label>
</h1>
<br>
<h2>
<div class="grid-containerquest" style="margin-left: 260px;margin-top: 100px; position: absolute;">
<div class="item1-q" >
<button type="button" id="item1-q" style="width: 400px;height: 70px;text-transform: capitalize;" #1 (click)="TrueAnswer('item1-q')">Editar Array</button>
</div>
<div class="item2-q">
<button type="button" id="item2-q" style="width: 400px;height: 70px;text-transform: capitalize;"   (click)="TrueAnswer('item2-q')">Editar Array</button>
</div>
<div class="item3-q">
<button type="button" id="item3-q" style="width: 400px;height: 70px;text-transform: capitalize;" (click)="TrueAnswer('item3-q')">Editar Array</button>
</div>
<div class="item4-q">
<button type="button" id="item4-q" style="width: 400px;height: 70px;text-transform: capitalize;" (click)="TrueAnswer('item4-q')">Editar Array</button>
</div>
</div>
</h2>

<br>
<br>
<br>

<h3>

    <button class="center2" type="button" style="width: 350px;height: 50px;margin-top: 270px;" (click)="NewQuest()">Nueva Pregunta</button>

</h3>
</div>

<br>

<div class="container" id="imagecorrect" style="display: none;height: 500px;" >
  <div class="zoom-in-zoom-out center">
   <img width= "200px"  style="margin-left: -95px;" src="../../../../src/assets/CorrectIcon.png">
  </div>
</div>

</div>-->


<br>



<br>
<br>
<br>

<form style="margin-top: 180px;">

  <div class="blog-card spring-fever">

    <div style="margin-right: 200px;margin-top: 10px;">
      <div width="500px">
        <h5>
      <label for="Desde" style="margin-right: 120px;">Desde:</label>
        </h5>
      </div>
      <label for="Desde">&nbsp;</label>
      <input type="number" id="Desde"  name="fname" style="text-indent: 10px;"><br><br>

      <div id="validationDesde" style="margin-top: -25px;margin-bottom: -25px;text-align: left;margin-left: 35px;display: none;">
      <label style="color: white;" for="Desde">el valor minimo es 1</label>
      <br>
      <br>
      </div>

      <div width="500px">
        <h5>
      <label for="Hasta" style="margin-right: 120px;">Hasta:</label>
        </h5>
      </div>

      <label for="Desde">&nbsp;</label>
      <input type="number" id="Hasta" name="lname" style="text-indent: 10px;"><br><br>

      <div id="validation4" style="margin-left: 35px; margin-top: -25px;margin-bottom: -25px;width: 500px;text-align: left;display: none;">
      <label style="color:  white;" for="Desde">el rango de datos no puede ser inferior a 4</label>
      <br>
      <br>
      </div>
    </div>

    <br>
    <button class="button-50" type="button" style="margin-left: 250px;" (click)="changerandom()">Cambiar</button>

  </div>




</form>

<h3>
<div class="container" style="margin-top: 300px;">
  <div class="center" style="width: 600px;margin-left: -5px;" >
    <label for="inputGroupFile" class="input-group-text" style="height: 55px;font-size: 22px;">Seleccionar archivo excel</label>
    <label class="input-group-text" id="FileUploaded" style="height: 55px;">Archivo No Cargado:&nbsp;<p id="correcto" style="color: red;margin-bottom: -2px;">X</p></label>
    <input type="file" id="inputGroupFile" style="display: inline-block;visibility:hidden;" (change)="incomingfile($event)" accept=".xlsx">
    <button type="button" class="btn btn-info" style="width: 200px;height: 110px; margin-left: -115px;margin-top: -159px;font-size: 0.8em;padding-bottom: 10px;" (click)="Upload()">Cargar</button>
  </div>
</div>
</h3>

<br>
<br>
<br>

</div>

<div [innerHTML]="myTemplate1 | safeHtml"></div>

<!--<div class="center2" style="border: 5px solid black;width: 70%;height: 450px;margin-top: 300px;background-color: black;"></div>-->

<!-- partial:index.partial.html -->





</body>


