
<!--<header class="header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation">
      <a class="navbar-brand" href="#" role="banner">Психология с Яндекс Весна</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Переключить навигацию">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsDefault">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">О сайте</a>
              </li>
          </ul>

          <form class="form-inline my-2 my-lg-0" role="search">
              <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Поиск">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
          </form>
      </div>
  </nav>
</header>-->

<!--<p>
	<button
		type="button"
		class="btn btn-outline-primary"
		(click)="collapse.toggle()"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseExample"
	>
		Toggle with Function
	</button>
	<button
		type="button"
		class="btn btn-outline-primary ms-2"
		(click)="isCollapsed = ! isCollapsed"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseExample"
	>
		Toggle with Two Way Binding
	</button>
</p>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
	<div class="card">
		<div class="card-body">You can collapse this card by clicking one Toggle button</div>
	</div>
</div>-->

<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<div>
<div style="margin-bottom: 5%;">
<nav class="navbar navbar-expand-lg" >
  <a class="navbar-brand" style="margin-left: 38%;" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="#">Features</a>
      </li>
      <li class="nav-item" style="margin-right: 38%;">
        <a class="nav-link" href="#">Pricing</a>
      </li>-->
      <!--<li class="nav-item" style="margin-right: 38%;">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>-->
    <!--</ul>
  </div>
</nav>
</div>
<img style="width: 100%;height: 50%; margin-top: -15%; margin-bottom: -15%;" src="https://mntn.krystonschwarze.com/images/HG.png" alt="mountain1" >
<div >
<img style="position: absolute; width: 100%;" src="https://mntn.krystonschwarze.com/images/VG.png" alt="mountain1" >
<img style="width: 100%;" src="https://mntn.krystonschwarze.com/images/MG-p-1600.png" alt="mountain2">
</div>
</div>-->


<!--<table class="table table-striped" style="position: absolute; color: white; text-align: right;;margin-left: -8%;">
		<tr>
			<th>
        <table class="table table-striped" style="position: absolute; color: white; text-align: center;margin-left: -8%;">
          <tr>
            <th>

              <div class="count" style="margin-left: 10%;">01</div>

              <div class="tagline" style="margin-top: -5%;margin-left: 10%;">
                <div class="tagline-line"></div>
                <h5 class="heading-tagline">GEt Started</h5>
              </div>

            </th>
          </tr>
          <tr>
            <th>
            <div style="text-align: left;margin-left: 32%;">
              What level of  hiker are you?
            </div>
            </th>
          </tr>
            <tr>
            <th>
              <div style="margin-left: -32%;">
                Determining what level of hiker you are can be an important tool when planning future hikes. This hiking level guide will help you plan hikes according to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker?
            </div>
          </th>
          </tr>
        </table>
      </th>
			<th >
      <img style="margin-left: 50%; width: 300px;" src="https://mntn.krystonschwarze.com/images/01.png" >
      </th>
		</tr>

</table>-->


<!--<div class="container" style="position: absolute;margin-top: 1500px;">
  <div class="hola">

    <img style="width: 300px;" src="https://mntn.krystonschwarze.com/images/01.png" >

  </div>
  <div class="titulo">

    <div class="count" >01</div>
    <div class="tagline" style="position: absolute;">
      <br>
      <br>
      <br>
      <br>
      <div class="tagline-line"  ></div>
      <h5 class="heading-tagline" >GEt Started</h5>
    </div>
    <br>
    <br>
    <br>

  </div>
  <div class="texto">

    <p class="h6" >
      <br>
      <br>
      <br>
      <br>
      level of hiker you are can be an important
       tool when planning future hikes. This hiking level guide will help you plan hikes according
      to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker
       are you – novice, moderate, advanced moderate, expert, or expert backpacker?</p></div>


  <div class="footer">

    <a href="#" class="link-to hero more w-inline-block">
      <div>
        <p class="h4">
          read more
        </p>
        </div>
      <div class="icon-scroll more w-embed" ><svg width="10" height="20" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16 16L14.59 14.59L9 20.17V0H7V20.17L1.42 14.58L0 16L8 24L16 16Z" fill="currentColor"></path>
      </svg></div>
    </a>

  </div>
</div>-->

<div class="di-grid" style="margin-top: 0px;">

  <div class="grid-container" style="background: linear-gradient( #5a1e7e,#0b1d26);">

    <div class="item1" style="margin-left: 230px;">
      <div class="count">01</div>
      <div class="tagline" style="margin-left: -150px;margin-top: -10px">
        <br>
        <br>
        <br>
        <br>
        <div class="tagline-line" style="margin-left: 270px;"></div>
        <!--<h5 class="heading-tagline">GEt Started</h5>-->
        <h5 class="heading-tagline">PERFIL</h5>
      </div>
      <div style="color: white"><p class="h6 textcolor" style="max-width: 400px;min-width: 300px;margin-top: -50px; margin-left: 120px;margin-right: 120px;text-indent:20px; text-align:justify" >

        <!--level of hiker you are can be an important
         tool when planning future hikes. This hiking level guide will help you plan hikes according
        to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker
         are you – novice, moderate, advanced moderate, expert, or expert backpacker?</p>-->

         Estudiante universitario con muchas ganas de trabajar y de aprender, responsable, comprometido, honesto, entusiasta, ingenioso y trabajo bien en equipo.
         Tengo habilidades en el manejo de programas de computación y solución de problemas en el área de sistemas, así como también conocimiento en los lenguajes de programación: Java, C++, C#, PHP, Python, Matlab, con énfasis en aplicaciones móviles y web
         Mi objetivo es poner en práctica todos los conocimientos adquiridos durante mi formación universitaria y poder formar parte de un equipo de trabajo que me permita desarrollarme personal y profesionalmente.
        </p>
      </div>

      <div style="margin-left: 20%;">
        <a href="#" class="link-to hero more w-inline-block">
          <div>
            <p class="h4">
              leer mas
            </p>
            </div>
          <div class="icon-scroll more w-embed" style="margin-bottom: 7px;margin-left: 7px;"><svg width="10" height="20" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 16L14.59 14.59L9 20.17V0H7V20.17L1.42 14.58L0 16L8 24L16 16Z" fill="currentColor"></path>
          </svg></div>
        </a>

      </div>

    </div>
    <div class="item2" style="margin-left: -150px;">
      <!--<img style="width: 300px; margin-left: 100px;" src="https://mntn.krystonschwarze.com/images/01.png" >-->
      <!--<img style="width: 400px; margin-left: 100px;" src="https://i.pinimg.com/564x/20/e3/5a/20e35a94b9b3633ab24b70865d086164.jpg" >-->

      <div class="container">
        <div class="box">
          <div class="imgBx">
            <img src="https://i.pinimg.com/564x/20/e3/5a/20e35a94b9b3633ab24b70865d086164.jpg" >
          </div>
          <div class="content">
            <div style="margin-bottom: 90px;">
              <h2>Image Title</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.
              </p>
            </div>
          </div>
        </div>
        </div>

      <!--<div class="container">
        <input type="checkbox" id="zoomCheck">
        <label for="zoomCheck">
          <img style="width: 400px; margin-left: 100px;" src="https://i.pinimg.com/564x/20/e3/5a/20e35a94b9b3633ab24b70865d086164.jpg" >
        </label>
      </div>-->

    </div>
    <div class="item5" style="width:0px;"></div>

  </div>
</div>



<div class="di-grid" >

  <div class="grid-container-v2" style="margin-left: -100px;margin-top: 0px;">
    <div class="item1" style="margin-top: 160px;margin-right: 50px;">
      <div class="count" style="margin-left: 200px;margin-bottom: 5px;">02</div>
      <div class="tagline" style="margin-left: 0px;">
        <br>
        <br>
        <br>
        <br>
        <div class="tagline-line" style="margin-left: 140px;"></div>
        <h5 class="heading-tagline">GEt Started</h5>
      </div>


      <div style="color: white"><p class="h6" style="max-width: 400px;min-width: 300px;margin-left: 140px;margin-top: 5px;">

        <img style="background: white;border-radius: 10%;margin-left: -0px;" width="15%" src="https://seeklogo.com/images/J/java-logo-7F8B35BAB3-seeklogo.com.png">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JAVA: <!--AVANZADO-->
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <br><br><br>
        <img style="background: white;border-radius: 10%;" width="15%" src="https://seeklogo.com/images/C/c-sharp-c-logo-02F17714BA-seeklogo.com.png">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C#: <!--MEDIO-->
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <br><br><br>
        <img style="background: white;border-radius: 10%;" width="15%" src="https://seeklogo.com/images/A/angular-logo-B76B1CDE98-seeklogo.com.png">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ANGULAR: <!--BÁSICO-->
        <span class="dot"></span>
        <span class="dot"></span>
        <br><br><br>
        <img style="background: white;border-radius: 10%;" width="20%" src="https://seeklogo.com/images/M/microsoft-net-logo-631EFE744A-seeklogo.com.png">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.NET: <!--MEDIO-->
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <br><br><br>
        <img style="background: white;border-radius: 10%;" width="15%" src="https://seeklogo.com/images/C/c-logo-43CE78FF9C-seeklogo.com.png">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C++: <!--BÁSICO-->
        <span class="dot"></span>
        <span class="dot"></span>
        <br><br><br>
        <img style="background: white;border-radius: 10%; margin-left: -30px;" width="30%" src="https://seeklogo.com/images/M/microsoft-sql-server-logo-96AF49E2B3-seeklogo.com.png">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SQL: <!--MEDIO-->
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <br><br><br>
        <img style="background: white;border-radius: 10%;" width="15%" src="https://seeklogo.com/images/F/firebase-logo-402F407EE0-seeklogo.com.png">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FIREBASE: <!--MEDIO-->
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <br><br><br>
        <img style="background: white;border-radius: 10%;margin-left: -40px;"  width="40%" src="https://seeklogo.com/images/M/mongodb-logo-4A71340576-seeklogo.com.png">
        &nbsp;&nbsp;&nbsp;&nbsp;MONGODB: <!--BÁSICO-->
        <span class="dot"></span>
        <span class="dot"></span>
        <br><br><br>
        </p>
      </div>

      <div style="margin-left: 20%;">
        <a href="#" class="link-to hero more w-inline-block">
          <div>
            <p class="h4" style="margin-left: 0px;">
              leer mas
            </p>
            </div>
          <div class="icon-scroll more w-embed" style="margin-bottom: 7px;margin-left: 7px;"><svg width="10" height="20" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 16L14.59 14.59L9 20.17V0H7V20.17L1.42 14.58L0 16L8 24L16 16Z" fill="currentColor"></path>
          </svg></div>
        </a>

      </div>

    </div>
    <div class="item2" style="margin-left: 330px;margin-top: 450px;" >
      <!--<img style="width: 300px;margin-left: 120px;" src="https://mntn.krystonschwarze.com/images/01.png" >-->
      <img style="width: 500px;margin-left: 30px;height: 700px;" src="https://img.freepik.com/foto-gratis/paisaje-vertical-lago-montanas_1398-3850.jpg?w=360&t=st=1686151273~exp=1686151873~hmac=b5ccb61b027a0a71bc58bd7ea6f521fc20acf591b1dbad248e1b8aa27ad62c63" >

    </div>



    <div class="item6" style="width:-100px;"></div>


  </div>
</div>


<!--<div class="di-grid" >

  <div class="grid-container-v2">
    <div class="item1">
      <div class="count" style="margin-top: 0px;margin-left: 250px;">02</div>
      <div class="tagline" style="margin-left: -150px;margin-top: 100px;position: absolute;">
        <br>
        <br>
        <br>
        <br>
        <div class="tagline-line"></div>
        <h5 class="heading-tagline">GEt Started</h5>
      </div>
      <br>
      <br>
      <br>


    <div class="item2">
      <img style="width: 300px;" src="https://mntn.krystonschwarze.com/images/01.png" >
    </div>

    <div class="item3" style="color: white"><p class="h6" style="max-width: 400px;min-width: 300px;margin-left: 120px;margin-right: 120px;">
      <br>
      <br>
      <br>
      <br>
      level of hiker you are can be an important
       tool when planning future hikes. This hiking level guide will help you plan hikes according
      to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker
       are you – novice, moderate, advanced moderate, expert, or expert backpacker?</p></div>
    <div class="item4" style="margin-left: 20%;margin-bottom: 20%;">
      <a href="#" class="link-to hero more w-inline-block">
        <div>
          <p class="h4">
            read more
          </p>
          </div>
        <div class="icon-scroll more w-embed" style="margin-bottom: 7px;margin-left: 7px;"><svg width="10" height="20" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 16L14.59 14.59L9 20.17V0H7V20.17L1.42 14.58L0 16L8 24L16 16Z" fill="currentColor"></path>
        </svg></div>
      </a>

    </div>

    </div>
    <div class="item5" ></div>

  </div>
</div>-->

<div class="di-grid" style="margin-top: 0px;">

  <div class="grid-container">
    <div class="item1" style="margin-top: 200px;margin-left: 230px;">
      <div class="count" style="margin-top:150px">03</div>
      <div class="tagline" style="margin-left:-180px;">
        <br>
        <br>
        <br>
        <br>
        <div class="tagline-line"></div>
        <h5 class="heading-tagline">EXPERIENCIA</h5>
      </div>


      <div style="color: white"><p class="h6 textcolor2" style="max-width: 400px;min-width: 300px;margin-left: 120px;margin-right: 120px;margin-top: -50PX; text-align:justify">

        <span style="color: black">PROYECTO</span>: TESIS<br>
        CARGO: PROGRAMADOR<br>
        <br>
        App de solicitud de taxis
        Se desarrolló una APP para la empresa Cootransgar, que permite a los usuarios solicitar un servicio de taxi a través de celulares con Android.
        Esta aplicación se desarrolló en Lenguaje Java, Android y Firebase
        <br>
        <br>
        <span style="color: black">PROYECTO</span>: INTEGRASOFT<br>
        CARGO: PROGRAMADOR<br>
        <br>
        Pasantía de un mes como desarrollador en el lenguaje asp.net con base de datos SQL y con uso de Apis</p>

      </div>

      <div style="margin-left: 20%;">
        <a href="#" class="link-to hero more w-inline-block">
          <div>
            <p class="h4" style="margin-left: -20px;">
              leer mas
            </p>
            </div>
          <div class="icon-scroll more w-embed" style="margin-bottom: 7px;margin-left: 7px;"><svg width="10" height="20" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 16L14.59 14.59L9 20.17V0H7V20.17L1.42 14.58L0 16L8 24L16 16Z" fill="currentColor"></path>
          </svg></div>
        </a>

      </div>

    </div>
    <div class="item2" style="margin-top: 150px;">
      <!--<img style="width: 300px;margin-top: 100px;" src="https://mntn.krystonschwarze.com/images/01.png" >-->
      <img style="width: 400px;margin-top: 100px;" src="https://p4.wallpaperbetter.com/wallpaper/1016/669/314/portrait-display-vertical-nature-landscape-mountains-hd-wallpaper-preview.jpg" >

    </div>




    <div class="item5" ></div>

  </div>
</div>

<!--<div class="di-grid" >

  <div class="grid-container">
    <div class="item1">
      <div class="count">03</div>
      <div class="tagline" style="margin-left: -150px;margin-top: 100px;position: absolute;">
        <br>
        <br>
        <br>
        <br>
        <div class="tagline-line"></div>
        <h5 class="heading-tagline">GEt Started</h5>
      </div>
      <br>
      <br>
      <br>

    </div>
    <div class="item2">
      <img style="width: 300px; position: absolute;" src="https://mntn.krystonschwarze.com/images/01.png" >
    </div>

    <div class="item3" style="color: white"><p class="h6" style="max-width: 400px;min-width: 300px;margin-left: 0px;margin-right: 0px;position: absolute;">
      <br>
      <br>
      <br>
      <br>
      level of hiker you are can be an important
       tool when planning future hikes. This hiking level guide will help you plan hikes according
      to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker
       are you – novice, moderate, advanced moderate, expert, or expert backpacker?</p></div>
    <div class="item4" style="margin-left: 20%;margin-bottom: 20%;">
      <a href="#" class="link-to hero more w-inline-block">
        <div>
          <p class="h4">
            read more
          </p>
          </div>
        <div class="icon-scroll more w-embed" style="margin-bottom: 7px;margin-left: 7px;"><svg width="10" height="20" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 16L14.59 14.59L9 20.17V0H7V20.17L1.42 14.58L0 16L8 24L16 16Z" fill="currentColor"></path>
        </svg></div>
      </a>

    </div>

    <div class="item5" ></div>

  </div>
</div>-->



<!--<div class="container">
  <div class="box">
    <div class="imgBx">
      <img src="https://images.unsplash.com/photo-1579748138140-ce9ef2c32db1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
    </div>
    <div class="content">
      <div>
        <h2>Image Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.
        </p>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="imgBx">
      <img src="https://i.pinimg.com/564x/20/e3/5a/20e35a94b9b3633ab24b70865d086164.jpg" >
    </div>
    <div class="content">
      <div>
        <h2>Image Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.
        </p>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="imgBx">
      <img src="https://images.unsplash.com/photo-1603984362497-0a878f607b92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80">
    </div>
    <div class="content">
      <div>
        <h2>Image Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.
        </p>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="imgBx">
      <img src="https://images.unsplash.com/photo-1579310962131-aa21f240d986?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80">
    </div>
    <div class="content">
      <div>
        <h2>Image Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.
        </p>
      </div>
    </div>
  </div>
</div>-->

</html>

		<!--<tr *ngFor="let country of countries; index as i">
			<th scope="row" style="color: white;">{{ i + 1 }}</th>
      <td>hola</td>
			<td style="color: white;">
				<img
					[src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
					class="me-2"
					style="width: 20px"
				/>
				{{ country.name }}
			</td>-->
			<!--<td style="color: white;">{{ country.area | number }}</td>
			<td style="color: white;">{{ country.population | number }}</td>
		</tr>-->

<!--<div style="margin-left: 20%;margin-right: 20%;">
<ngb-carousel
        #carousel
        [interval]="1000"
        [pauseOnHover]="pauseOnHover"
        [pauseOnFocus]="pauseOnFocus"
        (slide)="onSlide($event)"
      >
        <ng-template ngbSlide *ngFor="let img of images; index as i">
          <div class="carousel-caption">
            <h3>My slide {{i + 1}} title</h3>
          </div>
          <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper">
              <img [src]="img" alt="My image {{i + 1}} description" />
            </div>
          </a>
        </ng-template>
      </ngb-carousel>
      <hr />
    </div>-->


<!--
    <div style="margin-left: 20%;margin-right: 20%;">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="pauseOnHover" [(ngModel)]="pauseOnHover" />
        <label class="form-check-label labelcarousel" for="pauseOnHover">Pause on hover</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="pauseOnFocus" [(ngModel)]="pauseOnFocus" />
        <label class="form-check-label labelcarousel" for="pauseOnFocus" >Pause on focus</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="unpauseOnArrow" [(ngModel)]="unpauseOnArrow" />
        <label class="form-check-label labelcarousel" for="unpauseOnArrow" >Unpause when clicking on arrows</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="pauseOnIndicator" [(ngModel)]="pauseOnIndicator" />
        <label class="form-check-label labelcarousel" for="pauseOnIndicator" >Pause when clicking on navigation indicator</label>
      </div>
      <button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm" style="color: white; background-color: red; text-align: center;">
        {{paused ? 'Cycle' : 'Pause' }}
      </button>
    </div>-->
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->

      <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>

      <li>

        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>Drop me</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>One</button>
            <button ngbDropdownItem>Two</button>
            <button ngbDropdownItem>Four!</button>
          </div>
        </div>

      </li>
    </ul>
  </div>
</nav>-->


<!--<body>
<div>
<div class="container mt-5">
    <div class="row">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
                    <table *ngIf="listProductos.length > 0" class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let producto of listProductos">
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.categoria }}</td>
                            <td>{{ producto.ubicacion }}</td>
                            <td>{{ producto.precio | currency:'USD' }}</td>
                            <td>
                                <i [routerLink]="['/editar-producto', producto._id]" class="fas fa-edit text-primary"></i>
                                <i (click)="eliminarProducto(producto._id)" class="fas fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 style="text-align: start; margin-top: 10px;" *ngIf="listProductos.length == 0">No hay productos para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>

</body>-->
