

<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="di-grid" style="background-color: #7209B7;" >

  <div class="hijo" style="background: linear-gradient(180deg, #3A0CA3,#7209B7);margin-top: -150px;">

    <div class="grid-container" >

    <div class="item1 styletext1">

      <div class="tagline" >
        <br>
        <br>
        <br>
        <br>
        <div class="h1 heading-tagline">PERFIL</div>
      </div>
      <div style="color: white"><p class="h6 textcolor" style="max-width: 400px;min-width: 300px;margin-top: 10px;text-indent:20px; text-align:justify" >


         Estudiante universitario con muchas ganas de trabajar y de aprender, responsable, comprometido, honesto, entusiasta, ingenioso y trabajo bien en equipo.
         Tengo habilidades en el manejo de programas de computación y solución de problemas en el área de sistemas, así como también conocimiento en los lenguajes de programación: Java, C++, C#, PHP, Python, Matlab, con énfasis en aplicaciones móviles y web
         Mi objetivo es poner en práctica todos los conocimientos adquiridos durante mi formación universitaria y poder formar parte de un equipo de trabajo que me permita desarrollarme personal y profesionalmente.
        </p>
      </div>


    </div>
    <div class="hijo item2 styleimage1">

      <div class="container">
        <div class="box">
          <div class="imgBx">
            <div style="width: 400px;background: white;">
            <img class="image1" style="width: 200px;height: auto;background-color: white;" src="assets/DSC_0008.JPG" >
            </div>
          </div>
          <div class="content">
            <div style="margin-bottom: -150px;">
              <h2 class="h2" style="text-align: center;">Cualidades</h2>
              <p style="text-align: center;">Responsable, Organizado, Puntual, Trabajo en equipo, Rapido aprendisaje
              </p>
            </div>
          </div>
        </div>
        </div>



    </div>
    <!--<div class="item5"></div>-->

  </div>
</div>



<div class="hijo"  style="margin-top: 80px;background: linear-gradient(180deg, #7209B7 , #4895EF ,#4895EF , #4895EF, #7209B7 );">


<div class="marginbox" style="max-width: 1000px;">
<div class="card" >
  <div class="card__content">



      <div class="marginbox2">


        <br>
        <br>
        <br>
        <br>

        <p class="h1" style="font-weight: bold;">Mis Habilidades</p>

          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

          <div class="grid-containerlp">
            <p class="item1-lp" style="font-weight: bold;font-size: 1.8em;margin-top: 30px;font-family: OCR A Std, monospace;" >JAVA&nbsp;&nbsp;</p>
            <img class="item2-lp" style="align-items: start;background: transparent;border-radius: 10%;margin-top: 0px;" width="22%" src="https://seeklogo.com/images/J/java-logo-7F8B35BAB3-seeklogo.com.png">
          </div>

          <br>
          <br>

          <div class="containerbar">
            <div class="skills java">90%&nbsp;&nbsp;</div>
          </div>

          <br>
          <br>

          <div class="grid-containerlp">
            <p class="item1-lp" style="font-weight: bold;font-size: 1.8em;margin-top: 30px;font-family: OCR A Std, monospace;" >ANGULAR&nbsp;&nbsp;</p>
            <img class="item2-lp" style="align-items: start;background: transparent;border-radius: 10%;margin-top: 15px;" width="25%" src="https://seeklogo.com/images/A/angular-logo-B76B1CDE98-seeklogo.com.png">
          </div>

          <br>
          <br>

          <div class="containerbar">
            <div class="skills angular">80%&nbsp;&nbsp;</div>
          </div>

          <br>
          <br>

          <div class="grid-containerlp">
            <p class="item1-lp" style="font-weight: bold;font-size: 1.8em;margin-top: 28px;font-family: OCR A Std, monospace;" >C#&nbsp;&nbsp;</p>
            <img class="item2-lp" style="align-items: start;background: transparent;border-radius: 10%;margin-top: 12px;" width="18%" src="https://seeklogo.com/images/C/c-sharp-c-logo-02F17714BA-seeklogo.com.png">
          </div>

          <br>
          <br>

          <div class="containerbar">
            <div class="skills c">90%&nbsp;&nbsp;</div>
          </div>

          <br>
          <br>

          <div class="grid-containerlp">
            <p class="item1-lp" style="font-weight: bold;font-size: 1.8em;margin-top: 30px;font-family: OCR A Std, monospace;" >.NET&nbsp;&nbsp;</p>
            <img class="item2-lp" style="align-items: start;background: transparent;border-radius: 10%;margin-top: 5px;" width="30%" src="https://seeklogo.com/images/M/microsoft-net-logo-631EFE744A-seeklogo.com.png">
          </div>

          <br>
          <br>

          <div class="containerbar">
            <div class="skills net">50%&nbsp;&nbsp;</div>
          </div>

          <br>
          <br>

          <div class="grid-containerlp">
            <p class="item1-lp" style="font-weight: bold;font-size: 1.8em;margin-top: 30px;font-family: OCR A Std, monospace;" >SQL&nbsp;&nbsp;</p>
            <img class="item2-lp" style="align-items: start;background: transparent;border-radius: 10%;margin-left: -0px;" width="35%" src="https://seeklogo.com/images/M/microsoft-sql-server-logo-96AF49E2B3-seeklogo.com.png">
          </div>

          <br>
          <br>

          <div class="containerbar">
            <div class="skills sql">50%&nbsp;&nbsp;</div>
          </div>

          <br>
          <br>

          <div class="grid-containerlp">
            <p class="item1-lp" style="font-weight: bold;font-size: 1.8em;margin-top: 30px;font-family: OCR A Std, monospace;" >FIREBASE&nbsp;&nbsp;</p>
            <img class="item2-lp" style="align-items: start;background: transparent;border-radius: 10%;margin-left: -0px;" width="30%" src="https://seeklogo.com/images/F/firebase-logo-402F407EE0-seeklogo.com.png">
          </div>

          <br>
          <br>

          <div class="containerbar">
            <div class="skills firebase">50%&nbsp;&nbsp;</div>
          </div>

          <br>
          <br>

          <div class="grid-containerlp">
            <p class="item1-lp" style="font-weight: bold;font-size: 1.8em;margin-top: 30px;font-family: OCR A Std, monospace;" >C++&nbsp;&nbsp;</p>
            <img class="item2-lp" style="align-items: start;background: transparent;border-radius: 10%;margin-top: 15px;" width="20%" src="https://seeklogo.com/images/C/c-logo-43CE78FF9C-seeklogo.com.png">
          </div>

          <br>
          <br>

          <div class="containerbar">
            <div class="skills cplusplus">30%&nbsp;&nbsp;</div>
          </div>

          <br>
          <br>

          <div class="grid-containerlp">
            <p class="item1-lp" style="font-weight: bold;font-size: 1.8em;margin-top: 30px;font-family: OCR A Std, monospace;" >&nbsp;&nbsp;</p>
            <img class="item2-lp" style="margin-left: -20px; align-items: start;background: transparent;border-radius: 10%;margin-top: 5px;" width="80%" src="https://seeklogo.com/images/M/mongodb-logo-4A71340576-seeklogo.com.png">
          </div>

          <br>
          <br>

          <div class="containerbar">
            <div class="skills mongo">30%&nbsp;&nbsp;</div>
          </div>

          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

        </div>

    </div>

  </div>
</div>
</div>

<div class="di-grid">

  <div class="hijo" style="background: linear-gradient( #7209B7,#3F37C9);">

  <div class="grid-container">
    <div class="item1 stlyetext2">
      <div class="tagline">
        <br>
        <br>
        <br>
        <br>
        <div class="h1 heading-tagline">EXPERIENCIA</div>
      </div>
        <br>
        <br>
        <br>
        <br>
      <div style="color: white"><p class="h6 textcolor2" style="max-width: 400px;min-width: 300px;margin-top: -50PX; text-align:justify">

        <span class="h4" style="color: #fbd784;">PROYECTO</span>&nbsp;:&nbsp;<span class="h4" style="color: #fbd784;">TESIS</span>
        <br>
        <br>
        <span class="h5">CARGO: PROGRAMADOR</span>
        <br>
        <br>
        App de solicitud de taxis
        Se desarrolló una APP para la empresa Cootransgar, que permite a los usuarios solicitar un servicio de taxi a través de celulares con Android.
        Esta aplicación se desarrolló en Lenguaje Java, Android y Firebase
        <br>
        <br>
        <br>
        <br>
        <span class="h4" style="color: #fbd784;">PROYECTO</span>&nbsp;:&nbsp;<span class="h4" style="color: #fbd784;">INTEGRASOFT</span>
        <br>
        <br>
        <span class="h5">CARGO: PROGRAMADOR</span>
        <br>
        <br>
        Pasantía de un mes como desarrollador en el lenguaje asp.net con base de datos SQL y con uso de Apis</p>

      </div>

      <div>

      </div>

    </div>
    <div class="styleimage2 item2">
      <div class="borderimage2" style="margin-top: 200px;background:linear-gradient(0deg,#4895EF,#7209B7) ">
      <img class="image2" src="assets/20190222_173259.jpg" >
      </div>

    </div>

    <!--<div class="item5" ></div>-->

  </div>

  </div>
</div>


</div>
</html>





