

<html>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <body style="width: auto; height: auto">

  <!--<div class="headerv2">

    <a href="#default" class="logo">CompanyLogo</a>

  </div>-->

  <div class="black"  style="height: 500px; background: url('https://www.xtrafondos.com/wallpapers/noche-con-estrellas-en-paisaje-montanosos-con-nieve-5937.jpg');  background-repeat: no-repeat;
  background-size:  2000px 500px;">

  <div class="topnav" style="background-color: transparent;">

    <a href="#default" class="logo">CompanyLogo</a>

    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>


    <div class="header-right">
      <a href="#men">Men</a>
      <a href="#women">Women</a>
      <a href="#kids">Kids</a>
      <a href="#new">New</a>
      <a href="#skate">Skate</a>
      <a href="#latest">Lastest</a>
      <a href="#houseofvans">House of vans</a>
      <a href="#???">???</a>
    </div>
  </div>

  <div style="width: 500px; height: 50px; ">
  <div class="header" style="background-color: transparent;">

    <div class="header-center" style="margin-top: -50px; margin-left: -250px;">
      <!--<a class="active" href="#home">Home</a>-->
      <a href="#men">Men</a>
      <a href="#women">Women</a>
      <a href="#kids">Kids</a>
      <a href="#new">New</a>
      <a href="#skate">Skate</a>
      <a href="#latest">Lastest</a>
      <a href="#houseofvans">House of vans</a>
    </div>
  </div>
</div>

  <div style="padding-left:20px;color: white;margin-top: 120px;margin-left: 300px;">

    <h2>Responsive Search Bar</h2>
    <p>Navigation bar with a search box and a submit button inside of it.</p>
    <p>Resize the browser window to see the responsive effect.</p>
    <button class="btn danger">Discover Now ></button>

  </div>

</div>

  </body>

  <div class="grid-containerv4">

    <div class="item7-1">
    <p style="align-items: center;text-align: center;">

      Featured Products

    </p>
    </div>
    <div class="item7-2" style="align-items: center;text-align: center;margin-left: 500px;width: 80px;">
      <input type="checkbox"  value="1" name="scales" checked>
      <label for="scales">&nbsp; Scales1 </label>
    </div>

    <div class="item7-3" style="align-items: center;text-align: center;margin-left: -200px;width: 80px;">
      <input type="checkbox"  value="1" name="scales" checked>
      <label for="scales">&nbsp; Scales2 </label>
    </div>

    <div class="item7-4" style="align-items: center;text-align: center;margin-left: -300px;width: 80px;">
      <input type="checkbox"  value="1" name="scales" checked>
      <label for="scales">&nbsp; Scales3 </label>
    </div>

  </div>

  <div class="container">
    <div class="avatar">
      <div class="grid">
      <ng-container *ngFor="let avatar2 of arrayavatar" class="avatar-list">
        <img src={{avatar2.avatar}} alt="" class="avatar-img" width="100%" height="100%" data-bs-target="#staticBackdrop"
          data-bs-toggle="modal" (click)="modalData(avatar2)">
        <button [routerLink]="['/edit-avatar', avatar2._id]" class="fas fa-edit text-primary">Editar</button>
        <form (ngSubmit)="onSubmit(avatar2._id)">
          <button class="btn btn-warning">borrar</button>
        </form>
      </ng-container>
    </div>
  </div>
  </div>


  <!--<div class="di-grid" style="margin-top: 0px;">

    <div class="grid-containerv1" style="margin-left: 100px;width: 1200px;">

      <div class="item2-1" style="align-items: center;" >
        <img style="width: 300px;margin-top: 100px;" src="https://mntn.krystonschwarze.com/images/01.png" >
        <img style="width: 200px;height: 100px;margin-top: 100px;" src="https://i.linio.com/p/162f9fb71ad3a339164712e34f74afd9-product.webp" >
        <p style="margin-left: 50px; text-align: center;width: 100px;">Mono old</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">skool shoes</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">_____</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">$59.99</p>
      </div>
      <div class="item2-2" >
        <img style="width: 200px;height: 100px;margin-top: 100px;" src="https://i.linio.com/p/162f9fb71ad3a339164712e34f74afd9-product.webp" >
        <p style="margin-left: 50px; text-align: center;width: 100px;">Mono old</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">skool shoes</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">_____</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">$59.99</p>
      </div>
      <div class="item2-3" >
        <img style="width: 200px;height: 100px;margin-top: 100px;" src="https://i.linio.com/p/162f9fb71ad3a339164712e34f74afd9-product.webp" >
        <p style="margin-left: 50px; text-align: center;width: 100px;">Mono old</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">skool shoes</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">_____</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">$59.99</p>
      </div>
      <div class="item2-4" >
        <img style="width: 200px;height: 100px;margin-top: 100px;" src="https://i.linio.com/p/162f9fb71ad3a339164712e34f74afd9-product.webp" >
        <p style="margin-left: 50px; text-align: center;width: 100px;">Mono old</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">skool shoes</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">_____</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">$59.99</p>
      </div>
      <div class="item2-5" >
        <img style="width: 200px;height: 100px;margin-top: 100px;" src="https://i.linio.com/p/162f9fb71ad3a339164712e34f74afd9-product.webp" >
        <p style="margin-left: 50px; text-align: center;width: 100px;">Mono old</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">skool shoes</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">_____</p>
        <p style="margin-left: 50px; text-align: center;width: 100px;">$59.99</p>
      </div>

    </div>
  </div>-->

  <div class="di-grid" style="width: 1000px;">

    <div class="grid-containerv2" style="margin-left: 20px;">

      <div class="item7-1" style="align-items: center;width: 100px; margin-top: -50px;margin-left: 0px;">
        <!--<img style="width: 300px;margin-top: 100px;" src="https://mntn.krystonschwarze.com/images/01.png" >-->
        <!--<img style="width: 200px;height: 100px;margin-top: 100px;" src="https://p4.wallpaperbetter.com/wallpaper/1016/669/314/portrait-display-vertical-nature-landscape-mountains-hd-wallpaper-preview.jpg" >-->
        <p style="margin-left: 40px;margin-top: 100px;width: 100px;text-align: left;">THIS SEASON IS MUST-HAVE</p>
        <p style="margin-left: 40px;">_____</p>
        <button class="btn danger" style="width: 150px; margin-left: 40px;">Discover Now ></button>
      </div>

      <div class="item2-1" style="align-items: center;width: 400px;margin-left: 20px;">
        <!--<img style="width: 300px;margin-top: 100px;" src="https://mntn.krystonschwarze.com/images/01.png" >-->
        <!--<img style="width: 500px;height: 200px;margin-top: 100px;" src="https://p4.wallpaperbetter.com/wallpaper/1016/669/314/portrait-display-vertical-nature-landscape-mountains-hd-wallpaper-preview.jpg" >-->
        <div style="width:400px; margin-left: 18%;margin-bottom: 10px;margin-top: 50px;" >
          <ngb-carousel *ngIf="images" >
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img height="200px" [src]="images[0]" alt="Random first slide" />
              </div>
              <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img height="200px" [src]="images[1]" alt="Random second slide" />
              </div>
              <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img height="200px" [src]="images[2]" alt="Random third slide" />
              </div>
              <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>

        <div class="item7-2" style="align-items: center; margin-top: -50px;margin-left: 50px;">
          <!--<img style="width: 300px;margin-top: 100px;" src="https://mntn.krystonschwarze.com/images/01.png" >-->
          <img style="width: 200px;height: 100px;margin-top: 100px;" src="https://p4.wallpaperbetter.com/wallpaper/1016/669/314/portrait-display-vertical-nature-landscape-mountains-hd-wallpaper-preview.jpg" >
          <p style="margin-left: 60px;">Centrame</p>
          <p style="margin-left: 80px;">_____</p>
          <button class="btn danger" style="width: 150px; margin-left: 20px;">Discover Now ></button>
        </div>


         <div class="item2-2" style="align-items: center;width: 100px; margin-left: 0px;margin-top: -50px;">
          <!--<img style="width: 300px;margin-top: 100px;" src="https://mntn.krystonschwarze.com/images/01.png" >-->
          <img style="width: 400px;height: 200px;margin-top: 100px;" src="https://p4.wallpaperbetter.com/wallpaper/1016/669/314/portrait-display-vertical-nature-landscape-mountains-hd-wallpaper-preview.jpg" >
          </div>
        </div>
      </div>

    <div class="di-grid" style="margin-top: 0px;">

    <div class="grid-containerv3" style="margin-left: 50px;">

      <div class="item2-1" >
        <!--<img style="width: 300px;margin-top: 100px;" src="https://mntn.krystonschwarze.com/images/01.png" >-->
        <img style="width: 150px;height: 200px;margin-top: 100px;" src="https://p4.wallpaperbetter.com/wallpaper/1016/669/314/portrait-display-vertical-nature-landscape-mountains-hd-wallpaper-preview.jpg" >
        <p style="margin-left: 20px; width: 200px;">texto de prueba<br>texto de prueba<br>texto de prueba</p>
        <p style="margin-left: 60px;">_____</p>
      </div>
      <div class="item2-2" >
        <!--<img style="width: 300px;margin-top: 100px;" src="https://mntn.krystonschwarze.com/images/01.png" >-->
        <img style="width: 150px;height: 200px;margin-top: 100px;" src="https://p4.wallpaperbetter.com/wallpaper/1016/669/314/portrait-display-vertical-nature-landscape-mountains-hd-wallpaper-preview.jpg" >
        <p style="margin-left: 20px; width: 200px;">texto de prueba<br>texto de prueba<br>texto de prueba</p>
        <p style="margin-left: 60px;">_____</p>
      </div>
      <div class="item2-3" >
        <!--<img style="width: 300px;margin-top: 100px;" src="https://mntn.krystonschwarze.com/images/01.png" >-->
        <img style="width: 150px;height: 200px;margin-top: 100px;" src="https://p4.wallpaperbetter.com/wallpaper/1016/669/314/portrait-display-vertical-nature-landscape-mountains-hd-wallpaper-preview.jpg" >
        <p style="margin-left: 20px; width: 200px;">texto de prueba<br>texto de prueba<br>texto de prueba</p>
        <p style="margin-left: 60px;">_____</p>
      </div>
      <!--<div class="item2-4" >-->
        <!--<img style="width: 300px;margin-top: 100px;" src="https://mntn.krystonschwarze.com/images/01.png" >-->
        <!--<img style="width: 300px;height: 200px;margin-top: 100px;margin-bottom: 100px;" src="https://p4.wallpaperbetter.com/wallpaper/1016/669/314/portrait-display-vertical-nature-landscape-mountains-hd-wallpaper-preview.jpg" >-->
        <div class="item7-1" style="align-items: center;width: 0px; margin-top: 0px;margin-left: -50px;">
          <!--<img style="width: 300px;margin-top: 100px;" src="https://mntn.krystonschwarze.com/images/01.png" >-->
          <img style="width: 200px;height: 100px;margin-top: 100px;" src="https://p4.wallpaperbetter.com/wallpaper/1016/669/314/portrait-display-vertical-nature-landscape-mountains-hd-wallpaper-preview.jpg" >
          <p style="margin-left: 60px;">Centrame</p>
          <p style="margin-left: 80px;">_____</p>
          <button class="btn danger" style="width: 150px; margin-left: 20px;">Discover Now ></button>
        </div>
        <div class="item2-4" style="align-items: center;width: 0px; margin-left: -100px;margin-top: 0px;">
          <!--<img style="width: 300px;margin-top: 100px;" src="https://mntn.krystonschwarze.com/images/01.png" >-->
        <img style="width: 350px;height: 230px;margin-top: 100px;" src="https://p4.wallpaperbetter.com/wallpaper/1016/669/314/portrait-display-vertical-nature-landscape-mountains-hd-wallpaper-preview.jpg" >
        </div>

      </div>

    </div>

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5" >

  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #1c2331 ; width: 1352px;margin-left: -120px;height: 420px;
          position: relative;clear: both;margin-bottom: -450px;"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: #6351ce"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Company name</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Here you can use rows and columns to organize your footer
              content. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">MDBootstrap</a>
            </p>
            <p>
              <a href="#!" class="text-white">MDWordPress</a>
            </p>
            <p>
              <a href="#!" class="text-white">BrandFlow</a>
            </p>
            <p>
              <a href="#!" class="text-white">Bootstrap Angular</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">Your Account</a>
            </p>
            <p>
              <a href="#!" class="text-white">Become an Affiliate</a>
            </p>
            <p>
              <a href="#!" class="text-white">Shipping Rates</a>
            </p>
            <p>
              <a href="#!" class="text-white">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >MDBootstrap.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
<!-- End of .container -->


</html>
