<div class="hijo table100 ver2">

  <table data-vertable="ver2" class="table rounded-corners taco" id="buyerTable" style="color: white;width: 700px;margin-top: 50px;">

      <tr>
        <tr style="background-color: white; color: black;">
          <th style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #023E8A;font-size: 25px;text-transform: uppercase;text-shadow: 2px 2px #00B4D8;">English</th>
          <th style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #023E8A;font-size: 25px;text-transform: uppercase;text-shadow: 2px 2px #00B4D8;">Past</th>
          <th style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #023E8A;font-size: 25px;text-transform: uppercase;text-shadow: 2px 2px #00B4D8;">Past Par</th>
          <th style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #023E8A;font-size: 25px;text-transform: uppercase;text-shadow: 2px 2px #00B4D8;">Español</th>
        </tr>
        <br>
      <ng-container *ngFor="let buy of studentData" class="avatar-list">
      <tr class="row100" style="border:3px solid #CAF0F8;margin-top: 10px;">
        <td scope="row" style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #CAF0F8;background-color: #03045E;" (click)="ChangeWord(buy)">{{buy.verbo}}</td>
        <td scope="row" style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #CAF0F8;background-color: #0077B6;">{{buy.pasado}}</td>
        <td scope="row" style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #CAF0F8;background-color: #0077B6;">{{buy.participio}}</td>
        <td scope="row" style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #CAF0F8;background-color: #0077B6;">{{buy.espanol}}</td>
      </tr>
      </ng-container>

  </table>
  <br>

</div>
