
@media (pointer: coarse) and (max-width: 1200px)  {
  body {
  width: 1200px !important;
  height: auto !important;
  }
}

.hijo {
display: grid;
place-items: center;
}


.article {
font-family: Lato, sans-serif;
color: rgba(190, 20, 20, 0.8);
}

.dropdown {
display: inline-block;
position: relative;
}
.dropdown-content {
display: none;
position: absolute;
width: 100%;
overflow: auto;
box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown-content a {
display: block;
color: #000000;
padding: 5px;
text-decoration: none;
}
.dropdown-content a:hover {
color: #FFFFFF;
background-color: #00A4BD;
}

.margenitem{

margin-left: 250px;

}

/*.txtres{

font-size:3vw;

}

@media screen and (min-width: 700px) {
.txtres{
   font-size: 5vw;
}
}*/

@media screen and (min-width: 601px) {
.txtres {
  font-size: 50px;
}
}

@media screen and (max-width: 600px) {
.txtres {
  font-size: 30px;
}
}

.nomar{

padding: 0;
border: none;
background: none;

}

.item1 { grid-area: texto;}
.item2 { grid-area: imagen;}
.item3 { grid-area: Titulo;}
.item4 { grid-area: Editar;}

.grid-containerv {
display: grid;
grid-template-areas:
'texto imagen';
gap: 0px;
padding: 0px;
top:400px;
width: 200px;
margin-left: 50px;
}

.item1-q { grid-area: quest1;}
.item2-q { grid-area: quest2;}
.item3-q { grid-area: quest3;}
.item4-q { grid-area: quest4;}

.grid-containerquest{
display: grid;
grid-template-areas:
'quest1 quest2'
'quest3 quest4';
gap: 20px;
padding: 0px;
margin-top: 50px;
}

@media only screen and (max-width: 1170px) {
.grid-containerquest {
display: grid;
grid-template-areas:
  'quest1'
  'quest2'
  'quest3'
  'quest4';
  gap: 20px;
  padding: 0px;
  }
}

.item1-Up { grid-area: Charger;}
.item2-Up { grid-area: NameFile;}
.item3-Up { grid-area: BtnSet;}

.grid-containerUploadFile{
display: grid;
grid-template-areas:
'Charger BtnSet'
'NameFile BtnSet';
margin-top: 50px;
}

@media only screen and (max-width: 600px) {
.grid-containerUploadFile {
  display: grid;
  grid-template-areas:
  'Charger'
  'NameFile'
  'BtnSet';
  margin-top: 50px;
}
}
/* @media only screen and (max-width: 1170px) {
  .grid-containerquest {
    display: grid;
    grid-template-areas:
      'quest1'
      'quest2'
      'quest3'
      'quest4';
      gap: 20px;
      padding: 0px;
      margin-left: 50px;

      }
    }
    @media only screen and (max-width: 600px) {
      .grid-containerquest {
        display: grid;
        grid-template-areas:
          'quest1'
          'quest2'
          'quest3'
          'quest4';
          gap: 20px;
          padding: 0px;
          /* margin-left: 100px;*/

          /*}
        }

        @media only screen and (max-width: 400px) {
          .grid-containerquest {
            display: grid;
            grid-template-areas:
              'quest1'
              'quest2'
              'quest3'
              'quest4';
              gap: 20px;
              padding: 0px;
              margin-left: 50px;

              }
            }*/

.item1-ls { grid-area: leftside;}
.item2-rs { grid-area: rightside;}
.item3-ms { grid-area: midtside;}

.grid-containerv-leftright {
display: grid;
grid-template-areas:
'leftside midtside rightside';
gap: 0px;
padding: 0px;
margin-bottom: -60px;
/*top:400px;
width: 200px;
margin-left: 50px;*/
}

.zoom-in-zoom-out {
  animation: zoom-in-zoom-out 2s ease-out       infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.container {
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  /*top: 50px;*/
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center2 {
  margin: 0;
  position: absolute;
  /*top: 50px;*/
  margin-top: 50px;
  left: 50%;
  margin-left: -5px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center3 {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center4 {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}*/

body {
  background-color: black;
}

.containerz {
  width: 1000px !important;
  padding: 0 !important;
  margin-left: 10%;
}

@media only screen and (max-width: 1170px) {
  .containerz {
    width: 500px !important;
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  .containerz {
    width: 300px !important;
    padding: 0 !important;
  }
}

.containerz2 {
  width: 400px !important;
  padding: 0 !important;
}

@media screen and (pointer: none), (max-width: 1170px) {
  .containerz2 {
    width: 500px !important;
    padding: 0 !important;
  }
} @media screen and (pointer: coarse), (max-width: 400px) {
  .containerz2 {
    width: 1000px !important;
    height: 200px !important;
    padding: 0 !important;

  }
}


.gradient-cardsz {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
}
@media screen and (max-width: 991px) {
  .gradient-cardsz {
    grid-template-columns: 1fr;
  }
}


.containerz-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.cardz {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.containerz-cardz {

  position: absolute;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #023E8A,#0077B6, #023E8A);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  margin: auto;
  width: 1040px;
  height: 460px;
  margin-top: 150px;

}

@media screen and (max-width: 1170px) {
  .containerz-cardz {
    width: 500px;
    height: 800px;
  }
}
@media screen and (max-width: 600px) {
  .containerz-cardz {
    width: 450px;
    height: 800px;
  }
}

/* @media screen and (pointer: none), (max-width: 850px){
  .containerz-cardz {
    width: 590px;
    height: 660px;
    margin-left: 0%;
  }
}
@media screen and (pointer: none), (max-width: 600px){
  .containerz-cardz {
    width: 400px;
    height: 800px;
    margin-left: -9%;
  }
}/* @media screen and (pointer: coarse), (max-width: 400px) {
  .containerz-cardz {

    width: 1000px ;
    height: 660px ;

  }
}*//*@media screen and (pointer: coarse), (max-width: 400px) {
  .containerz-cardz {

    width: 500px ;
    height: 850px ;
    margin-left: 20%;

  }
}*/


.containerz-cardz2 {
  position: absolute;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #023E8A,#0077B6, #023E8A);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  margin-top: 200px;
}
/*@media screen and (pointer: none), (max-width: 1170px) {
  .containerz-cardz2 {
    width: 400px;
    height: 800px;
    margin-left: 360px;
  }
} @media screen and (pointer: none), (max-width: 900px) {
  .containerz-cardz2 {
    width: 400px;
    height: 800px;
    margin-left: 100px;
  }
}@media screen and (pointer: none), (max-width: 600px) {
  .containerz-cardz2 {
    width: 380px;
    height: 800px;
    margin-left: -80px;
  }
}@media screen and (pointer: coarse), (max-width: 400px) {
  .containerz-cardz2 {
    width: 400px !important;
    margin-left: -35px;
    margin-top: 100px;
    text-align: center;
  }
}*/


.containerz-cardz3{

  position: absolute;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #023E8A,#0077B6, #023E8A);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  margin-top: -30px;

}

.containerz-cardz img {
  margin-bottom: 32px;
}

.bg-blue-box {
  position: relative;
}

.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.cardz-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.cardz-description {
  font-weight: 600;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  max-width: 470px;
}

.NuevaPreguntaBtn{
  width: 450px;
  height: 60px;
  margin-top: 0px;
  text-transform:capitalize;
}
@media screen and (pointer: none), (max-width: 1170px) {
  .NuevaPreguntaBtn {
    height: 100px;
    margin-right: 8%;
  }
}
@media screen and (pointer: none), (max-width: 600px) {
  .NuevaPreguntaBtn {
    width: 400px;
    height: 100px;
    margin-right: 10%;
    margin-top: -10%;
  }
}

.NuevaPreguntaBtn2{
  width: 450px;
  height: 60px;
  margin-top: 120px;
  text-transform:capitalize;
}
@media screen and (pointer: none), (max-width: 1170px) {
  .NuevaPreguntaBtn2 {
    height: 100px;
    margin-right: 8%;
  }
}
@media screen and (pointer: none), (max-width: 600px) {
  .NuevaPreguntaBtn2 {
    width: 400px;
    height: 100px;
    margin-right: 10%;
    margin-top: -10%;
  }
}

/*@media screen and (pointer: none), (max-width: 600px) {
  .NuevaPreguntaBtn {
    width: 300px;
    height: 80px;
    margin-top: 550px;
    margin-left: 10px;
    text-transform:capitalize;
  }
}@media screen and (pointer: coarse), (max-width: 400px) {
  .NuevaPreguntaBtn {
    width: 400px;
    height: 100px;
    margin-left: 2%;
    margin-top: 550px;
    text-transform:capitalize;
  }
}*/

.button-54 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  color: #00B4D8;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button54-size{

  width: 400px;
  height: 60px;
  text-transform: capitalize;

}
@media screen and (pointer: none), (max-width: 600px) {
  .button54-size {
    width: 300px;
    height: 100px;
    text-transform: capitalize;
  }
} @media screen and (pointer: coarse), (max-width: 400px) {
  .button54-size {
    width: 400px;
    height: 100px;
    text-transform: capitalize;
  }
}


.button-55 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  color: #00B4D8;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:focus,.button-55:focus {
  text-decoration: none;
}

.button-54:hover,.button-55:hover {
  text-decoration: none;
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}


.button-54:active,.button-55:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-54:not,.button-55:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-54,.button-55 {
    padding: 12px 50px;
  }
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
background: #323c41;
}

.blog-card{
width: 450px;
height: 270px;
position: relative;
/*left: 46%;*/
/*margin: -250px 0 0 -175px;*/
overflow: hidden;
border-radius: 10px;
box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
text-align: center;

&.spring-fever{
  background: linear-gradient(71deg, #0096C7, #00B4D8, #0096C7);
}

.color-overlay{
  /* Rectangle 11: */
  background: rgba(84,104,110,0.4);
  width: 350px;
  height: 500px;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background .3s cubic-bezier(.33,.66,.66,1);
}

}

/*@media screen and (pointer: none), (max-width: 600px) {
.blog-card{

    width: 470px;
    height: 270px;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    text-align: center;

  }
}@media screen and (pointer: coarse), (max-width: 1000px){
    .blog-card{

        width: 470px;
        height: 270px;
        position: relative;
        margin-top: -150px !important;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
        text-align: center;
        transform: translate(-50%, -50%);
        margin-left: -25px !important;

      }
    }@media screen and (pointer: coarse), (max-width: 601px) {
    .blog-card{

        width: 470px;
        height: 270px;
        position: relative;
        margin-top: -150px !important;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
        text-align: center;
        transform: translate(-50%, -50%);

      }
    }*/


.HastaDesde{

margin-top: -60px;

}
/*@media screen and (pointer: none), (max-width: 600px) {
  .HastaDesde {

    margin-top: 200px;
    margin-left: 169px;
    width: 200px;

  }
}@media screen and (pointer: coarse), (max-width: 400px) {
  .HastaDesde {

    margin-top: 150px;
    margin-left: 425px;
    width: 200px;

  }
}*/

.DesdeHastaSize{

  width:500px;

}
@media screen and (max-width: 600px) {
  .DesdeHastaSize {
    width:100px;
  }
}

/* CSS */
.button-50 {
appearance: button;
background-color: #023E8A;
background-image: none;
border: 1px solid #000;
border-radius: 4px;
box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 20px;
margin: 0 5px 10px 0;
overflow: visible;
padding: 12px 40px;
text-align: center;
text-transform: none;
touch-action: manipulation;
user-select: none;
-webkit-user-select: none;
vertical-align: middle;
white-space: nowrap;
}

.button-50:focus {
text-decoration: none;
}

.button-50:hover {
text-decoration: none;
}

.button-50:active {
box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
outline: 0;
}

.button-50:not([disabled]):active {
box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
transform: translate(2px, 2px);
}

@media (min-width: 768px) {
.button-50 {
  padding: 12px 50px;
}
}

.uploadfilebox{

width: 600px;
height: 100px;
margin-bottom: 300px;

}@media screen and (pointer: coarse), (max-width: 600px) {
.uploadfilebox {
  width: 400px;
  height: 100px;
  margin-bottom: 300px;
}
}

.uploadfile{

width: 400px;
height: 55px;
font-size: 22px;

}/*@media screen and (pointer: none), (max-width: 600px) {
.uploadfile {
  width: 400px;
  height: 55px;
  font-size: 22px;
  margin-left: -240px;
}
}@media screen and (pointer: coarse), (max-width: 400px) {
.uploadfile {
  width: 400px;
  height: 80px;
  font-size: 22px;
  margin-left: -350px;
  margin-top: -80px;
}
}*/



.btnCargar{

width: 200px;
height: 130px;
margin-top: -65px;
font-size: 0.8em;
padding-bottom: 10px;

}@media screen and (pointer: none), (max-width: 600px) {
.btnCargar {

  width: 400px;
  height: 80px;
  margin-top: 10px;

}
}/*@media screen and (pointer: coarse), (max-width: 400px) {
.btnCargar  {
  width: 200px;
  height: 150px;
  margin-left: -20px;
  margin-top: -235px;
  font-size: 0.8em;
  padding-bottom: 10px;
}
}*/


@media screen and (pointer: none), (max-width: 2000px) {
.brfileupt{

  display: none;

}

}@media screen and (pointer: coarse), (max-width: 400px) {
.brfileupt{

  display:block;

}

}

.resultbox{

height: 500px;width: 600px;

}


.table100.ver2 td {
line-height: 1.4
}

.table100.ver2 th {
color: yellow;
line-height: 1.4;
text-transform: uppercase;
}

.table100.ver2 .row100:hover td {
background-color: #83d160;
color: yellow
}

.table100.ver2 .hov-column-ver2 {
background-color: #83d160;
color: yellow
}

.table100.ver2 .hov-column-head-ver2 {
background-color: yellow!important
}

.table100.ver2 .row100 td:hover {
background-color: #57b846;
color: yellow
}

.table100.ver2 tbody tr:nth-child(even) {
background-color: yellow
}

.table100.ver2 td {
color: white;
line-height: 1.4
}

.table100.ver2 th {
color: black;
line-height: 1.4;
text-transform: uppercase;
background-color: white
}

.table100.ver2 .row100:hover td {
background-color: orangered!important;
color: black
}

.table100.ver2 .hov-column-ver2 {
background-color: rgb(250, 117, 68)!important;
color: black
}

.table100.ver2 .hov-column-head-ver2 {
background-color: #00B4D8!important
}

.table100.ver2 .row100 td:hover {
background-color: rgb(243, 93, 38)!important;
color: black
}

th {
padding:1em;
background-color: #fff;
box-shadow: 0.6em 0.6em  0.6em  rgba( 0, 0, 0, 0.4 );
}





