<body style="background-color: #90E0EF; width: 100%;height: auto;" >


  <div class="hijo" >



    <div class="containerz-cardz2" style="width: 700px;margin-top: 200px;">

      <div class="h2" style="margin-bottom: 20px;margin-top: 20px;">
        <label class="hijo" type="text" style="font-weight: bold;color: white;font-size:1.5em;text-align: center;margin-top: -20px;">Verbs</label>
      </div>

      <div style="margin-left: 15px;">

        <div  clas="grid-containervbtn">
          <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class-verb/100" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 1 a 100</p></button>
          <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-list-verb/100" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
          <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class-verb/200" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 101 a 200</p></button>
          <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-list-verb/200" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
            <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class-verb/300" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 201 a 300</p></button>
            <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-list-verb/300" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
            <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class-verb/400" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 301 a 400</p></button>
            <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-list-verb/400" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
            <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class-verb/500" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 401 a 500</p></button>
            <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-list-verb/500" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
            <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class-verb/600" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 501 a 600</p></button>
            <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-list-verb/600" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

      </div>

    </div>

  </div>

  <!--🔊-->

</body>
