<body style="background-color: #90E0EF; width: 100%;height: auto;" >


    <div class="hijo">



      <div class="containerz-cardz2" style="width: 700px;margin-top: 200px;">

        <div class="h2" style="margin-bottom: 20px;margin-top: 20px;">
          <label class="hijo" type="text" style="font-weight: bold;color: white;font-size:1.5em;text-align: center;margin-top: -20px;">Common Words</label>
        </div>

        <div  clas="grid-containervbtn">
          <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class/100" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 1 a 100</p></button>
          <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-table/100/normal" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
          <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class/200" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 101 a 200</p></button>
          <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-table/200/normal" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
            <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class/300" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 201 a 300</p></button>
            <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-table/300/normal" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
            <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class/400" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 301 a 400</p></button>
            <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-table/400/normal" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
            <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class/500" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 401 a 500</p></button>
            <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-table/500/normal" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
            <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class/600" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 501 a 600</p></button>
            <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-table/600/normal" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
            <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class/700" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 601 a 700</p></button>
            <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-table/700/normal" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
            <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class/800" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 701 a 800</p></button>
            <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-table/800/normal" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
            <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class/900" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 801 a 900</p></button>
            <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-table/900/normal" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

        <div clas="grid-containervbtn">
            <button class="h2 button-54 NuevaPreguntaBtn ListBtn item1_b" style="width: 460px;" routerLink="/english-class/1000" ><p style="margin-bottom: -1px;white-space: nowrap">Lista 901 a 1000</p></button>
            <button class="h2 button-56 NuevaPreguntaBtn ListBtn item1_b" style="width: 100px;margin-left: 20px;" routerLink="/english-table/1000/normal" ><p style="margin-bottom: 10px;font-size: 40px;">📋</p></button>
        </div>

      </div>

    </div>

    <!--🔊-->

  </body>



