<div class="hijo " style="margin-top: 200px;margin-bottom: 200px;">
  <!--<div>-->
    <div class="boxform" style="width: 80%;">
      <div class="h1" style="padding: 80px;margin-bottom: -50px;text-decoration: underline #EF233C;text-align: center;font-weight: bold;text-transform: uppercase;">Informacion del vendedor</div>
      <form method="POST" id="contactForm" name="contactForm" class="contactForm" novalidate="novalidate">
        <div class=" row">

          <div>
          <div class="form-group">
          <label class="labelform">Nombres:</label>
          <input type="text" class="form-control no-border valid formplaceholder inputform" name="name" id="name" placeholder="Nombres" aria-invalid="false">
          </div>
          </div>

          <div>
          <div class="form-group">
          <label class="labelform">Apellidos:</label>
          <input type="email" class="form-control no-border formplaceholder inputform" name="email" id="lastname" placeholder="Apellidos" >
          </div>
          </div>

          <div>
          <div class="form-group">
          <label class="labelform">Nombre de la marca o la empresa:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="mark" placeholder="Marca" >
          </div>
          </div>

          <div class="h1" style="padding: 80px;margin-top: 50px;text-decoration: underline #EF233C;text-align: center;font-weight: bold;text-transform: uppercase;"> Ubicion de la salida de los envios </div>

          <div>
          <div class="form-group">
          <label class="labelform">Departamento:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="Dep" placeholder="Departamento" >
          </div>
          </div>

          <div>
          <div class="form-group">
          <label class="labelform">Ciudad:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="City" placeholder="Ciudad" >
          </div>
          </div>

          <div>
          <div class="form-group">
          <label class="labelform">Dirrecion:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="Direc" placeholder="Dirrecion" >
          </div>
          </div>

          <div class="h1" style="padding: 80px;margin-top: 50px;text-decoration: underline #EF233C;text-align: center;font-weight: bold;text-transform: uppercase;"> Informacion de contacto </div>

          <div>
          <div class="form-group">
          <label class="labelform">Telefono:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="Tel" placeholder="Telefono" >
          </div>
          </div>

          <div>
          <div class="form-group">
          <label class="labelform">Telefono 2:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="Tel2" placeholder="Telefono 2" >
          </div>
          </div>

          <div>
          <div class="form-group">
          <label class="labelform">Telefono 2:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="Tel3" placeholder="Telefono 3" >
          </div>
          </div>

          <div class="hijo">
          <div class="form-group" style="border-bottom: 1px solid black;margin-top: 150px;margin-bottom: 100px;font-weight: bold;">
          <button class="button-29" type="submit" role="button" style="width: 250px;height: 80px;font-size: 2em;" (click)="btnform()">Guardar Datos</button>
          </div>
          </div>

        </div>
      </form>
    </div>

    <br>
    <br>
    <br>

  </div>


