<!--<div class="container mt-5">
    <div class="row" style="margin-top: 200px;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> {{ titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
                        <div class="mb-3">
                            <input type="text" formControlName="producto" class="form-control form-control-lg"
                                placeholder="Producto">
                            <div class="text-danger"
                                *ngIf="productoForm.get('producto')?.hasError('required') && productoForm.get('producto')?.touched">
                                <span>El nombre del producto <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="categoria" class="form-control form-control-lg"
                                placeholder="Categoria">
                            <div class="text-danger"
                                *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched">
                                <span>La categoria <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="ubicacion" class="form-control form-control-lg"
                                placeholder="Ubicacion">
                            <div class="text-danger"
                                *ngIf="productoForm.get('ubicacion')?.hasError('required') && productoForm.get('ubicacion')?.touched">
                                <span>La ubicacion <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="precio" class="form-control form-control-lg"
                                placeholder="Precio">
                            <div class="text-danger"
                                *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched">
                                <span>El precio <strong>es obligatorio</strong></span>
                            </div>
                        </div>

                        <div class="mb-3 col-4">
                          <input type="file" class="form-control" placeholder="image name"  (change)="uploadAvatar($event)">
                        </div>

                        <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="productoForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>-->

<div class="hijo " style="margin-top: 200px;margin-bottom: 200px;">
  <!--<div>-->
    <div class="boxform" style="width: 80%;">
      <div class="h1" style="padding: 80px;margin-bottom: -80px;text-decoration: underline #EF233C;text-align: center;font-weight: bold;text-transform: uppercase;">Informacion del vendedor</div>
      <form method="POST" id="contactForm" name="contactForm" class="contactForm" novalidate="novalidate">
        <div class="row">

          <div>
          <div class="form-group">
          <label class="labelform">Nombres:</label>
          <input type="text" class="form-control no-border valid formplaceholder inputform" name="name" id="name" placeholder="Nombres" aria-invalid="false">
            <div class="validatorerror" style="color: red;display: none;" id="NombresV" >
            <span style="margin-left: 150px;">Los Nombres <strong>es obligatoria</strong></span>
            </div>

          </div>
          </div>

          <div>
          <div class="form-group">
          <label class="labelform">Apellidos:</label>
          <input type="email" class="form-control no-border formplaceholder inputform" name="email" id="lastname" placeholder="Apellidos" >
          <div class="validatorerror" style="color: red;display: none;" id="ApellidoV">
            <span style="margin-left: 150px;">Los Apellidos <strong>es obligatoria</strong></span>
            </div>
        </div>
          </div>

          <div>
          <div class="form-group">
          <label class="labelform">Nombre de la marca o la empresa:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="mark" placeholder="Marca" >
          <div class="validatorerror" style="color: red;display: none;" id="EmpresaV">
            <span style="margin-left: 150px;">La Empresa <strong>es obligatoria</strong></span>
            </div>
        </div>
          </div>

          <div class="hijo">
          <button class="button-24" role="button" (click)="scrollTop()" style="width: 20%;height: 50px;margin-top: 50px;">Siguiente</button>
          </div>

          <div class="h1" style="padding: 80px;margin-top: 10px;margin-bottom: -70px; text-decoration: underline #EF233C;text-align: center;font-weight: bold;text-transform: uppercase;"> Ubicion de la salida de los envios </div>

          <div>
          <div class="form-group">
          <label class="labelform">Departamento:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="Dep" placeholder="Departamento" >
          <div class="validatorerror" style="color: red;display: none;" id="DepartamentoV">
            <span style="margin-left: 150px;">El Departamento <strong>es obligatoria</strong></span>
            </div>
        </div>
          </div>

          <div>
          <div class="form-group">
          <label class="labelform">Ciudad:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="City" placeholder="Ciudad" >
          <div class="validatorerror" style="color: red;display: none;" id="CiudadV">
            <span style="margin-left: 150px;">La Ciudad <strong>es obligatoria</strong></span>
            </div>
        </div>
          </div>

          <div>
          <div class="form-group">
          <label class="labelform">Dirrecion:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="Direc" placeholder="Dirrecion" >
          <div class="validatorerror" style="color: red;display: none;" id="DirrecionV">
            <span style="margin-left: 150px;">La Dirrecion <strong>es obligatoria</strong></span>
            </div>
        </div>
          </div>

          <div class="hijo">
            <button class="button-24" role="button" (click)="scrollTop2()" style="width: 20%;height: 50px;margin-top: 50px;">Siguiente</button>
          </div>

          <div class="h1" style="padding: 80px;margin-top: 10px;margin-bottom: -70px; text-decoration: underline #EF233C;text-align: center;font-weight: bold;text-transform: uppercase;"> Informacion de contacto </div>

          <div>
          <div class="form-group">
          <label class="labelform">Telefono:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="Tel" placeholder="Telefono" >
          <div class="validatorerror" style="color: red;display: none;" id="TelefonoV">
            <span style="margin-left: 150px;">El Telefono <strong>es obligatoria</strong></span>
            </div>
        </div>
          </div>

          <div>
          <div class="form-group">
          <label class="labelform">Telefono 2:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="Tel2" placeholder="Telefono 2" >
          <div class="validatorerror" style="color: red;display: none;" id="Telefono2V">
            <span style="margin-left: 150px;">El Telefono <strong>es obligatoria</strong></span>
            </div>
        </div>
          </div>

          <div>
          <div class="form-group">
          <label class="labelform">Telefono 3:</label>
          <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="Tel3" placeholder="Telefono 3" >
          <div class="validatorerror" style="color: red;display: none;" id="Telefono3V">
            <span style="margin-left: 150px;">El Telefono <strong>es obligatoria</strong></span>
            </div>
        </div>
          </div>

          <div class="hijo">
          <div class="form-group" style="border-bottom: 1px solid black;margin-top: 150px;margin-bottom: 100px;font-weight: bold;">
          <button class="button-29" type="submit" role="button" style="width: 250px;height: 80px;font-size: 2em;" (click)="validarCampos()">Guardar Datos</button>
          <div class="validatorerror" style="color: red;display: none;" id="NombresV">
            <span style="margin-left: 150px;">El Nombre <strong>es obligatoria</strong></span>
            </div>
        </div>
          </div>

        </div>
      </form>
    </div>

    <br>
    <br>
    <br>

  </div>

  <div class="container mt-5">
    <div class="row"  style="margin-top: 200px;">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
                    <table *ngIf="listProductos.length > 0" class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Dirrecion</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Telefono2</th>
                            <th scope="col">Telefono3</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let producto of listProductos">
                            <td>{{ producto.Nombres }}</td>
                            <td>{{ producto.Apellidos }}</td>
                            <td>{{ producto.Empresa }}</td>
                            <td>{{ producto.Departamento}}</td>
                            <td>{{ producto.Ciudad}}</td>
                            <td>{{ producto.Dirrecion}}</td>
                            <td>{{ producto.Telefono }}</td>
                            <td>{{ producto.Telefono2}}</td>
                            <td>{{ producto.Telefono3}}</td>
                            <td>
                                <!--<i [routerLink]="['/editar-producto', producto._id]" class="fas fa-edit text-primary"></i>
                                <i (click)="eliminarProducto(producto._id)" class="fas fa-trash text-danger"></i>-->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 style="text-align: start; margin-top: 10px;" *ngIf="listProductos.length == 0">No hay productos para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>

