.hijo {
  display: grid;
  place-items: center;
}

.table100.ver2 td {
  line-height: 1.4
}

.table100.ver2 th {
  color: yellow;
  line-height: 1.4;
  text-transform: uppercase;
}

.table100.ver2 .row100:hover td {
  background-color: #83d160;
  color: yellow
}

.table100.ver2 .hov-column-ver2 {
  background-color: #83d160;
  color: yellow
}

.table100.ver2 .hov-column-head-ver2 {
  background-color: yellow!important
}

.table100.ver2 .row100 td:hover {
  background-color: #57b846;
  color: yellow
}

.table100.ver2 tbody tr:nth-child(even) {
  background-color: yellow
}

.table100.ver2 td {
  color: white;
  line-height: 1.4
}

.table100.ver2 th {
  color: black;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: white
}

.table100.ver2 .row100:hover td {
  background-color: orangered!important;
  color: black
}

.table100.ver2 .hov-column-ver2 {
  background-color: rgb(250, 117, 68)!important;
  color: black
}

.table100.ver2 .hov-column-head-ver2 {
  background-color: #00B4D8!important
}

.table100.ver2 .row100 td:hover {
  background-color: rgb(243, 93, 38)!important;
  color: black
}

th {
  padding:1em;
  background-color: #fff;
  box-shadow: 0.6em 0.6em  0.6em  rgba( 0, 0, 0, 0.4 );
  /*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
  /*box-shadow: rgba(241, 139, 80, 0.4) 0px 5px, rgba(243, 82, 33, 0.3) 0px 10px, rgba(241, 69, 17, 0.2) 0px 15px, rgba(248, 75, 6, 0.1) 0px 20px, rgba(250, 2, 2, 0.05) 0px 25px;
*/
}

#rate-control {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.containerz-cardz2 {
  position: absolute;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #023E8A,#0077B6, #023E8A);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  margin-top: 200px;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:focus,.button-55:focus {
  text-decoration: none;
}

.button-54:hover,.button-55:hover {
  text-decoration: none;
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}


.button-54:active,.button-55:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-54:not,.button-55:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
