<!--<div class="container">-->
<body>

<div class="grid-containerv3">

  <div class="grid1" style="width: 100px;">
    <!--<div class="grid">-->


      <!--| slice:page:page+5 | callback:findColor:color-->
      <!--"let avatar2 of imageFilter | filterPeople:colors |  sort:'price':orden"-->


        <ng-container *ngFor="let avatar2 of imageFilter | filterPeople:'azul atardecer'" class="avatar-list">
          <div class="grid-containerv" style="width: 1000px;">

          <div class="item2-i" style="margin-left: 100px;">
          <!--<img  src={{avatar2.url}} alt="" class="avatar-img" width="100%" height="auto" data-bs-target="#staticBackdrop"
            data-bs-toggle="modal" (click)="modalData(avatar2)" >-->

            <ng-container *ngFor="let avatar5 of imageFilter | filterPeople:'azul atardecer'"class="avatar-list">

              <div class="grid-containerv4">

                <div *ngIf="image == null; else elseBlock ">

                  {{changeimagelater(avatar5.url)}}

                </div>

                  <ng-template #elseBlock>
                    <div class="item1-im" >

                    <img  src={{image}} alt="" class="avatar-img" style="width: 500px; height: 400px; object-fit: cover;margin-top: 100px" data-bs-target="#staticBackdrop"
                    data-bs-toggle="modal">
                  </div>
                  </ng-template>

                <div class="item2-im2">
                  <ng-container *ngFor="let avatar6 of avatar5.extraurl"class="avatar-list">

                    <img  src={{avatar6}} alt="" class="avatar-img" height="auto" data-bs-target="#staticBackdrop"
                    data-bs-toggle="modal" (click)="changeimage(avatar6)" style="width: 100px; height: 50px; object-fit: cover;">


                  </ng-container>
                </div>
              <!--<img  src='assets/Imagenes prueba/ai-art-clouds-colorful-sky-2226902.jpg' alt="" class="avatar-img" width="20%" height="auto" data-bs-target="#staticBackdrop"
              data-bs-toggle="modal" (click)="changeimage('assets/Imagenes prueba/ai-art-clouds-colorful-sky-2226902.jpg')">
              <img  src='assets/Imagenes prueba/anime-1562445.jpg' alt="" class="avatar-img" width="20%" height="auto" data-bs-target="#staticBackdrop"
              data-bs-toggle="modal" (click)="changeimage('assets/Imagenes prueba/anime-1562445.jpg')">
              <img  src='assets/Imagenes prueba/anime-girl-1275977.jpg' alt="" class="avatar-img" width="20%" height="auto" data-bs-target="#staticBackdrop"
              data-bs-toggle="modal" (click)="changeimage('assets/Imagenes prueba/anime-girl-1275977.jpg')">-->

              </div>

            </ng-container>

          <!--<button [routerLink]="['/edit-avatar', avatar2]" class="fas fa-edit text-primary">Editar</button>-->
          </div>
          <div class="item1-t" style="text-align: left;width: 600px;margin-left: 50px;height: 250px;margin-top: 220px">
          <FONT face="American Typewriter" style=" font-weight: bold; ">{{avatar2.color | uppercase }}</FONT>
          <br>
          <!--<FONT>{{avatar2.color | uppercase }}</FONT>-->
          </div>
          <div class="item4-p" style="margin-right: 130px;text-align: center;margin-left: 80px;">
          <p>{{avatar2.price | currency:'USD'}}</p>
          </div>
          <div class="item3-t" style="margin-top: -280px;margin-left: 50px; width: 500px;">

          <p>es es un texto de pruba para el objeto
            <FONT style=" font-weight: bold;">{{avatar2.color | uppercase }}</FONT>
            este sera remplazado por otro en un futuro
            hay se pondra un texto referente a las caracteristicas del producto
            y otros datos referentes al vendedor y donde esta ubicado</p>

          <ng-container *ngFor="let avatar3 of avatar2.tag" class="avatar-list">
            <FONT><a [routerLink]="['/edit-avatar', avatar3]" style="text-decoration:none;">{{avatar3}}&nbsp;&nbsp;</a></FONT>
            <!--<div>
              <ul>
                <li><FONT><a [routerLink]="['/edit-avatar', avatar3]" style="text-decoration:none;">{{avatar3}}&nbsp;&nbsp;</a></FONT></li>
              </ul>
            </div>-->
          </ng-container>
          <!--<p><a id="dinero" href="https://www.google.com.co/">{{avatar2.tag}}</a></p>-->

          </div>

          <div class="item5-c" style="margin-top: 100px;margin-left: 100px; width: 500px;">

            <!--<p>es es un texto de pruba para el objeto
              <FONT style=" font-weight: bold;">{{avatar2.color | uppercase }}</FONT>
              este sera remplazado por otro en un futuro
              hay se pondra un texto referente a las caracteristicas del producto
              y otros datos referentes al vendedor y donde esta ubicado</p>-->

              <p>{{avatar2.text}}</p>

            </div>
          <!--<form (ngSubmit)="onSubmit(avatar2)">-->
            <!--<button class="btn btn-warning">borrar</button>-->
        <div class="item6-l" style="margin-left: 100px;margin-top: 50px;">
          <ng-container *ngFor="let avatar4 of avatar2.caract" class="avatar-list">

              <ul>
                <li>{{avatar4}}</li>
              </ul>

          </ng-container>
        </div>

          </div>


    </ng-container>

<!--</div>-->
</div>

<!--<div class="container">-->
  <div class="grid2" style="width:200px; margin-left: 900px;margin-top: 100px;">
    <!--<div class="grid">-->


      <!--| slice:page:page+5 | callback:findColor:color-->
      <!--"let avatar2 of imageFilter | filterPeople:colors |  sort:'price':orden"-->

      <ng-container *ngFor="let buy of buyman | filterPeople:'azul atardecer'" class="avatar-list">
        <div class="grid-containerv2" >

          <table class="table table-dark">
            <thead>
            </thead>
            <tbody>
              <tr>
                <th>Nombre</th>
                <td scope="row">{{buy.nombre}}</td>
              </tr>
              <tr>
                <th>Reputacion</th>
                <td scope="row">{{buy.reputacion}}</td>
              </tr>
              <tr>
                <th>Ubicacion</th>
                <td scope="row">{{buy.ubicacion}}</td>
              </tr>
              <tr>
                <th >Contacto</th>
                <td scope="row">{{buy.contacto}}</td>
              </tr>
              <tr>
              </tr>
            </tbody>
          </table>



         <!--<div class="item1-bt" style="text-align: left;width: 600px;margin-left: 200px;height: 60px;margin-top: 50px;">
          <FONT face="American Typewriter" style=" font-weight: bold;">{{buy.nombre | uppercase }}</FONT>
          <br>
          </div>

          <!--<div class="item1-bt">
           <p>{{buy.nombre}}</p>
          </div>-->

          <!--<div class="item2-bi" style="text-align: left;width: 600px;margin-left: 200px;height: 60px;">
            <p>{{buy.reputacion}}</p>
          </div>

          <div class="item3-bt" style="text-align: left;width: 600px;margin-left: 200px;height: 60px;">
            <p>{{buy.ubicacion}}</p>
          </div>

          <div class="item4-bp" style="text-align: left;width: 600px;margin-left: 200px;height: 60px;">
            <p>{{buy.contacto}}</p>
          </div>-->

        </div>


    </ng-container>

<!--</div>-->
  </div>

</div>

<!--<ng-container *ngFor="let avatar2 of productbuy | filterPeople:'azul atardecer'" class="avatar-list">-->


    <!--<tr>
      <ng-container *ngFor="let avatar5 of avatar2.titulodescripcion"class="avatar-list">
      <th scope="row">{{avatar5}}</th>
      </ng-container>
      <ng-container *ngFor="let avatar5 of avatar2.descripcion"class="avatar-list">
      <td scope="row">{{avatar5}}</td>
      </ng-container>
    </tr>-->

<H2 style="margin-left: 100px;margin-top: 100px;"> Descripcion </H2>

  <div style="width: 500px; align-items: center;margin-left: 100px;margin-top: 50px;">

  <ng-container *ngFor="let avatar5 of productbuy| filterPeople:'azul atardecer'"class="avatar-list">

  <p>{{avatar5.descripciontext}}</p>

  </ng-container>

</div>

<H2 style="margin-left: 100px;margin-top: 100px;"> Ficha técnica </H2>

<table class="table table-dark" style="text-align: left; width: 600px; margin-left: 100px;margin-top: 50px;">
      <tbody>
      <ng-container *ngFor="let avatar5 of productbuy| filterPeople:'azul atardecer'"class="avatar-list">
      <ng-container *ngFor="let i of [].constructor(avatar5.titulodescripcion.length); let inx = index;">
      <tr>
      <th >{{avatar5.titulodescripcion[inx] | uppercase}}</th>
      <td style="text-align: left;" scope="row">{{avatar5.descripcion[inx]}}</td>
      </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>

<H2 style="margin-left: 100px;margin-top: 100px;"> Comentarios </H2>

<table  class="table table-light" style="text-align: left; width: 600px; margin-left: 100px;margin-top: 50px;">
  <tbody>
  <ng-container *ngFor="let avatar5 of productbuy| filterPeople:'azul atardecer'"class="avatar-list">
  <ng-container *ngFor="let i of [].constructor(avatar5.nombreopiniones.length); let inx = index;">
  <tr>
  <th >{{avatar5.nombreopiniones[inx] | uppercase}}</th>
  <td style="text-align: left;" scope="row">{{avatar5.opiniones[inx]}}</td>
  </tr>
  </ng-container>
</ng-container>
</tbody>
</table>





<!--<ng-container *ngFor="let avatar5 of imageFilter | filterPeople:'azul atardecer'"class="avatar-list">



  <div style="width: 1000px; margin-left: 200px;">

    <div *ngIf="image == null; else elseBlock ">

      {{changeimagelater(avatar5.url)}}

    </div>

    <ng-template #elseBlock>

      <img  src={{image}} alt="" class="avatar-img" width="100%" height="auto" data-bs-target="#staticBackdrop"
      data-bs-toggle="modal">

    </ng-template>




  <ng-container *ngFor="let avatar6 of avatar5.extraurl"class="avatar-list">
  <img  src={{avatar6}} alt="" class="avatar-img" height="auto" data-bs-target="#staticBackdrop"
  data-bs-toggle="modal" (click)="changeimage(avatar6)" style="width: 180px; height: 150px; object-fit: cover;">
  </ng-container>
  <!--<img  src='assets/Imagenes prueba/ai-art-clouds-colorful-sky-2226902.jpg' alt="" class="avatar-img" width="20%" height="auto" data-bs-target="#staticBackdrop"
  data-bs-toggle="modal" (click)="changeimage('assets/Imagenes prueba/ai-art-clouds-colorful-sky-2226902.jpg')">
  <img  src='assets/Imagenes prueba/anime-1562445.jpg' alt="" class="avatar-img" width="20%" height="auto" data-bs-target="#staticBackdrop"
  data-bs-toggle="modal" (click)="changeimage('assets/Imagenes prueba/anime-1562445.jpg')">
  <img  src='assets/Imagenes prueba/anime-girl-1275977.jpg' alt="" class="avatar-img" width="20%" height="auto" data-bs-target="#staticBackdrop"
  data-bs-toggle="modal" (click)="changeimage('assets/Imagenes prueba/anime-girl-1275977.jpg')">-->

  <!--</div>

</ng-container>-->

<!--</ng-container>-->
<div style="height: 400px;">
<form style="background-color: rgb(56, 0, 0);" >
  <div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card" style="background-color: gray;">
          <div class="card-body p-4">
            <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="65"
                height="65" />
              <div class="w-100">
                <h5>Añadir opinion sobre el Producto</h5>

                <h2></h2>
                <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>


                <div class="form-outline">
                  <textarea class="form-control" id="textAreaExample" rows="4" style="text-indent: 2em;"  #textAreaCom></textarea>
                  <label class="form-label" for="textAreaExample"></label>
                </div>
                <div class="d-flex justify-content-between mt-3">
                  <button type="Reset" class="btn btn-danger" style="width: 100px;" (click)="RatingRest()">
                    Borrar
                  </button>
                  <button type="button"  class="btn btn-success" style="width: 100px;" (click)="CommentResult(textAreaCom.value)">
                    Enviar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>

</body>







