
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hijo {
  display: grid;
  place-items: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

body{

  /*background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);*/
  /*background: #457B9D;*/
  /*background: radial-gradient(#A8DADC,#457B9D);*/
  /*min-height: 100vh;*/
  background: white;

}

div{

 background-color: var(--transparente);

}

p,FONT,H2{

  /*color: var(--white);*/
  color: black;

}

ngb-rating {
  color: #FFC107;
  font-size: 50px;
}

.item1-t { grid-area: title;}
.item2-i { grid-area: image;}
.item3-t { grid-area: texto;}
.item4-p { grid-area: price;}
.item5-c {grid-area: charac;}
.item6-l {grid-area: list;}

.item1-bt { grid-area: name;}
.item2-bi { grid-area: reputation;}
.item3-bt { grid-area: place;}
.item4-bp { grid-area: cellphone;}

.item1-im { grid-area: image1;}
.item2-im2 { grid-area: image2;}

.itemt1 { grid-area: grid1;}
.itemt2 { grid-area: grid2;}

.item1 { grid-area: body; }
.item2-1 { grid-area: image1; width: 0px;}
.item2-2 { grid-area: image2; width: 0px;}
.item2-3 { grid-area: image3; width: 0px;}
.item2-4 { grid-area: image4; width: 0px;}
.item2-5 { grid-area: image5; width: 0px;}
.item3 { grid-area: header; }
.item4 { grid-area: footer; }
.item5 { grid-area: margen; }
.item6 { grid-area: margenv2; }

.item7-1{ grid-area: text1; }
.item7-2{ grid-area: text2; }
.item7-3{ grid-area: text3; }
.item7-4{ grid-area: text4; }




.grid-containerv {
  display: grid;
 /* grid-template-areas:
  'image title'
   'price texto';*/
  grid-template-areas:
  'image title'
  'price texto'
  'charac charac'
  'list list';
  gap: 0px;
  /*background-color: #616161;*/
  /* background-color: #0b1d26;*/
  padding: 0px;
  top:400px;
  }

  @media only screen and (max-width: 800px) {
  .grid-containerv {
  display: grid;
  margin-left: 0px;
  grid-template-areas:
    'image1 image1'
    'image2 image2';
  gap: 10px;
  /*background-color: #616161;*/
  /* background-color: #0b1d26;*/
  padding: 10px;
  top:200px;

    }
  }

  .grid-containerv2 {
    display: grid;
   /* grid-template-areas:
    'image title'
     'price texto';*/
    grid-template-areas:
    'name'
    'reputation'
    'place'
    'cellphone';
    gap: 0px;
    /*background-color: #616161;*/
    /* background-color: #0b1d26;*/
    padding: 0px;
    top:400px;
    }

    @media only screen and (max-width: 800px) {
    .grid-containerv2 {
    display: grid;
    margin-left: 0px;
    grid-template-areas:
      'image1 image1'
      'image2 image2';
    gap: 10px;
    /*background-color: #616161;*/
    /* background-color: #0b1d26;*/
    padding: 10px;
    top:200px;

      }
    }

    .grid-containerv3 {
      display: grid;
     /* grid-template-areas:
      'image title'
       'price texto';*/
      grid-template-areas:
      'grid1 grid2';
      gap: 0px;
      /*background-color: #616161;*/
      /* background-color: #0b1d26;*/
      padding: 0px;
      top:400px;
      }

      @media only screen and (max-width: 800px) {
      .grid-containerv3 {
      display: grid;
      margin-left: 0px;
      grid-template-areas:
        'image1 image1'
        'image2 image2';
      gap: 10px;
      /*background-color: #616161;*/
      /* background-color: #0b1d26;*/
      padding: 10px;
      top:200px;

        }
      }

      .grid-containerv4 {
        display: grid;
        grid-template-areas:
        'image2 image1';
        gap: 0px;
        padding: 0px;
        top:400px;
        }

        @media only screen and (max-width: 800px) {
        .grid-containerv4 {
        display: grid;
        margin-left: 0px;
        grid-template-areas:
          'image2 image1'
          'image2 image1';
        gap: 10px;
        /*background-color: #616161;*/
        /* background-color: #0b1d26;*/
        padding: 10px;
        top:200px;

          }
        }


        table.rounded-corners {
          border-spacing: 0;
          border-collapse: separate;
          border-radius: 30px;
          border: 3px solid #2B2D42;
         }

         /* Apply a border to the right of all but the last column */
         table.rounded-corners th:not(:last-child),
         table.rounded-corners td:not(:last-child) {
          border-right: 3px solid #2B2D42;
         }

         /* Apply a border to the bottom of all but the last row */
         table.rounded-corners>thead>tr:not(:last-child)>th,
         table.rounded-corners>thead>tr:not(:last-child)>td,
         table.rounded-corners>tbody>tr:not(:last-child)>th,
         table.rounded-corners>tbody>tr:not(:last-child)>td,
         table.rounded-corners>tfoot>tr:not(:last-child)>th,
         table.rounded-corners>tfoot>tr:not(:last-child)>td,
         table.rounded-corners>tr:not(:last-child)>td,
         table.rounded-corners>tr:not(:last-child)>th,
         table.rounded-corners>thead:not(:last-child),
         table.rounded-corners>tbody:not(:last-child),
         table.rounded-corners>tfoot:not(:last-child) {
          border-bottom: 3px solid #2B2D42;
         }

         .module-border-wrap {
          width: 510px;
          height: 410px;
          margin-top: 80px;
          padding: 1rem;
          position: relative;
          background: linear-gradient(to right, #2B2D42, #D90429);
          padding: 3px;
        }
        .module-border-wrap2 {
          width: 410px;
          height: 55px;
          margin-top: -50px;
          position: relative;
          background: linear-gradient(to right, #2B2D42, #D90429);
        }
        .module-border-wrap3 {
          width: 410px;
          height: 55px;
          margin-top: -50px;
          position: relative;
          background: linear-gradient(to right, #2B2D42, #D90429);
        }

@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #F21B3F;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 0.5s 0s;
  -webkit-animation: load 0.5s 0s;
  -moz-animation: load 0.5s 0s;
  -o-animation: load 0.5s 0s;
}

.bar.front::before{
  background-color: #29BF12;
}
.bar.back::before{
  background-color: #FF9914;
}

.bar.learning::before{
  width: calc(28% - 10px);
}
.bar.basic::before{
  width: calc(48% - 10px);
}
.bar.intermediate::before{
  width: calc(68% - 10px);
}
.bar.advanced::before{
  width: calc(88% - 10px);
}
.bar.expert::before{
  width: calc(108% - 10px);
}


.taco tr{

  height: 100px;
  width: 200px;

}
.taco th{

  width:100px;
  text-align: center;
  padding: 20px;
  font-weight: bold;

}

.item1-ct1 { grid-area: table1;}
.item2-ct2 { grid-area: table2;}

.grid-containervtables{
  display: grid;
  grid-template-areas:
  'table1 table2';
  gap: 0px;
  padding: 0px;
  width: 600px;
  top:400px;
  }

.item1-images1 { grid-area: images;}
.item2-text1 { grid-area: textdes;}
.item2-table1 { grid-area: tableven;}

.grid-containervstart{
  display: grid;
  grid-template-areas:
  'images textdes tableven';
  gap: 0px;
  padding: 0px;
  width: 1100px;
  margin-top: 200px;
  margin-left: 20px;
  }@media only screen and (max-width: 800px) {
    .grid-containervstart {
      display: grid;
      grid-template-areas:
      'images'
      'textdes'
      'tableven';
      gap: 0px;
      padding: 0px;
      width: 1100px;
      margin-top: 200px;
      }
    }

.tablestart{

  width:300px;
  margin-left: 10px;

}@media only screen and (max-width: 800px) {
  .tablestart {

    width:43%;
    margin-left: 5px;

    }
  }

.boxdesc{

  width: 400px;
  height: 820px;
  border: 3px solid #8D99AE;
  margin-left: 80px;
  margin-right: 10px;

}@media only screen and (max-width: 800px) {
  .boxdesc {

    width: 43%;
    margin-left: 5px;

    }
  }

.imagexp{

  width: 500px;
  margin-left: 10px;

}@media only screen and (max-width: 800px) {
  .imagexp {

    width: 43%;
    margin-left: 5px;

    }
  }

.mainimg{

  width: 500px;
  height: 600px;

}@media only screen and (max-width: 800px) {
  .mainimg {

    width: 450px;

    }
  }

  .circular--portrait {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
  }

  .circular--portrait img {
    width: 300%;
    height: 300%;
    margin-left: -70px;
    margin-top: -60px;
  }
