


<!--<form [formGroup]="editAvatarForm" (ngSubmit)="onSubmit2()" style="margin-top: 200px">
  <div class="mt-5 container d-flex flex-column align-items-center justify-content-center" >

    <div class="col-4">
      <input type="text" class="form-control" placeholder="avatar name" formControlName="name">
    </div>
    <br />

    <div class="mb-3 col-4">
      <input type="file" class="form-control" (change)="uploadAvatar($event,1)">
    </div>

    <div class="mb-3 col-4">
      <input type="file" class="form-control" (change)="uploadAvatar($event,2)">
    </div>

    <div class="mb-3 col-4">
      <input type="file" class="form-control" (change)="uploadAvatar($event,3)">
    </div>

    <div class="mb-3 col-4">
      <input type="file" class="form-control" (change)="uploadAvatar($event,4)">
    </div>

    <div class="mb-3 col-4">
      <input type="file" class="form-control" (change)="uploadAvatar($event,5)">
    </div>

    <div class="mb-3 col-4">
      <input type="file" class="form-control" (change)="uploadAvatar($event,6)">
    </div>

    <div class="mb-3 col-4">
      <input type="file" class="form-control" (change)="uploadAvatar($event,7)">
    </div>

    <div class="mb-3 col-4">
      <input type="file" class="form-control" (change)="uploadAvatar($event,8)">
    </div>

    <div class="mb-3 col-4">
      <input type="file" class="form-control" (change)="uploadAvatar($event,9)">
    </div>

    <div class="mb-3 col-4">
      <input type="file" class="form-control" (change)="uploadAvatar($event,10)">
    </div>

    <button class="btn btn-success">Submit Avatar</button>

  </div>
</form>-->
<div class="hijo " style="margin-top: 200px;margin-bottom: 200px;">
<!--<div>-->
  <div class="boxform" style="width: 50%;">
    <div class="h1" style="padding: 80px;margin-bottom: -50px;text-shadow: 4px 4px 2px rgba(0,0,0,0.6);text-decoration-line: underline;">Informacion del producto</div>
    <form method="POST" id="contactForm" name="contactForm" class="contactForm" novalidate="novalidate">
      <div class=" row">

        <div>
        <div class="form-group">
        <label class="labelform">Nombre Del Producto:</label>
        <input type="text" class="form-control no-border valid formplaceholder inputform" name="name" id="name" placeholder="Nombre" aria-invalid="false">
        </div>
        </div>

        <div>
        <div class="form-group">
        <label class="labelform">Precio Del Producto:</label>
        <input type="email" class="form-control no-border formplaceholder inputform" name="email" id="email" placeholder="Precio" >
        </div>
      </div>

        <div>
        <div class="form-group">
        <label class="labelform">Inventario inicial del producto:</label>
        <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="subject" placeholder="Inventario" >
         </div>
        </div>

        <div>
        <div class="form-group">
        <label class="labelform">Estado del producto:</label>
        <input type="text" class="form-control no-border formplaceholder inputform" name="subject" id="subject" placeholder="Estado" >
        <!--<textarea name="message" class="form-control no-border formplaceholder inputform" id="message" cols="30" rows="6" placeholder="Message" ></textarea>-->
        </div>
      </div>

        <div class="hijo">
        <div class="form-group" style="border-bottom: 1px solid black;margin-top: 50px;margin-bottom: 50px;">
        <button class="button-29" type="submit" role="button">Guardar Datos</button>
        </div>
        </div>

      </div>
    </form>
  </div>
</div>
<!--</div>-->

<div class="hijo">
  <div style="border: 3px solid #2B2D42; width: 95%;"></div>
</div>


<div class="hijo h2" style="margin-top: 200px;">

<!--<button id="btnimg" (click)="fakecharge()" > </button>-->

<button id="btnimg" class="button-82-pushable" role="button" (click)="fakecharge()">
  <span class="button-82-shadow"></span>
  <span class="button-82-edge"></span>
  <span class="button-82-front text">
    Cambiar imagen
  </span>
</button>

  <div id="btnimg2" style="display: none;">



  <input type="file" id="fileInput" (Click)="imagedata()" style="display: none;" multiple/>

      <!--<label id="fileInput-Label" for="fileInput"
      >Select a File</label>-->

      <button id="btnimg" class="button-82-pushable" role="button" for="fileInput">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          <label id="fileInput-Label" for="fileInput"
          >Seleccionar Imagenes</label>
        </span>
      </button>

    </div>

      <br>
      <br>
      <br>

      <div  *ngFor="let image of images" >

        <div class="hijo" >
          <div style="border: 5px solid #EF233C; width: 90%;margin-top: 0px;"></div>
          <br>
          <br>
          <img style="width:50%;" [src]='image'/>
          <ng-container *ngIf="indexOfImage(image) == 0">
          <label (click)="changeorderimg(image)" style="margin:20px;">Imagen Principal</label>
          </ng-container>
          <label (click)="changeorderimg(image)" style="margin-top: 20px;">Posicion: {{indexOfImage(image)}}</label>
          <br>
          <button (click)="changeorderimg(image)" style="margin-bottom: 20px;">Cambiar posicion</button>
          <input style="text-align: center;width: 50%;" id="inpimg{{indexOfImage(image)}}" placeholder="Ingrese la Nueva Posicion del objeto">
          <br>
          <br>
          <div style="border: 5px solid #8D99AE; width: 90%;"></div>

        </div>
      </div>

</div>

<!--<div class="hijo table100 ver2" style="margin-top: 100px;">

  <label for="Desde" style="font-weight: bold;">English</label>
  <input type="text" id="Desde"  name="fname" style="text-indent: 10px;background-color: white;">
  <br>
  <label for="Desde" style="font-weight: bold;">Español</label>
  <input type="text" id="Hasta" name="lname" style="text-indent: 10px;background-color: white;">
  <br>
  <br>
  <!--createExcel()-->
  <!--<button id="btnNew" style="border-radius: 20px;height: 50px;font-size: 30px;font-weight: bold;" (click)="addWord()">Nueva Palabra</button>
  <button id="btnNew" style="border-radius: 20px;height: 50px;font-size: 30px;font-weight: bold;" (click)="creatArray()">Crear Array</button>

  <button class="fixed-top" id="endedit" style="border-radius: 20px;height: 100px;font-size: 20px;font-weight: bold; width: 200px;margin-left: 80%;margin-top: 35%;display: none;" (click)="endedit()">Terminar Edicion</button>

  <table data-vertable="ver2" class="table rounded-corners taco" id="buyerTable" style="color: white;width: 700px;margin-top: 50px;">

      <tr>
        <tr style="background-color: white; color: black;">
          <th style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #023E8A;font-size: 25px;text-transform: uppercase;text-shadow: 2px 2px #00B4D8;">English</th>
          <th style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #023E8A;font-size: 25px;text-transform: uppercase;text-shadow: 2px 2px #00B4D8;">Español</th>
          <th style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #023E8A;font-size: 25px;text-transform: uppercase;text-shadow: 2px 2px #00B4D8;">Borrar</th>
          <th style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #023E8A;font-size: 25px;text-transform: uppercase;text-shadow: 2px 2px #00B4D8;">Añadir</th>
        </tr>
        <br>
      <ng-container *ngFor="let buy of MemoriGame" class="avatar-list">
      <tr class="row100" style="border:3px solid #CAF0F8;margin-top: 10px;">
        <td scope="row" id="text{{indexOf(buy)}}" style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #CAF0F8;background-color: #03045E;" (dblclick)="transform(buy)">{{buy.English}}</td>
        <td scope="row" id="text2{{indexOf(buy)}}" style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #CAF0F8;background-color: #0077B6;" (dblclick)="transform(buy)">{{buy.Espanol}}</td>
        <td scope="row" style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border: 3px solid #CAF0F8;width: 100px;" #3><button class="hijo" style="width: 100%;border: none;" (click)="borrarCell(buy)">⛔</button></td>
        <td scope="row" style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border: 3px solid #CAF0F8;width: 100px;" #3><button class="hijo" style="width: 100%;border: none;" (click)="addCell(buy)">+</button></td>
      </tr>
      </ng-container>

  </table>
  <br>-->
  <br>
  <br>
  <br>
<div class="hijo">
  <div style="border: 3px solid #2B2D42; width: 95%;"></div>
</div>

<div class="hijo table100 ver2 h3">

<!-- HTML !-->
<!--<button class="button-56" role="button">Button 56</button>-->



  <!--createExcel()-->
  <!--<button id="btnNew" style="border-radius: 20px;height: 50px;font-size: 30px;font-weight: bold;" (click)="addWord()">Nueva Palabra</button>-->
  <!--<button id="btnNew" style="border-radius: 20px;height: 50px;font-size: 30px;font-weight: bold;margin-top: -100px;" (click)="creatArray2()">Crear Array</button>-->

  <!--<button class="fixed-top" id="endedit" style="border-radius: 20px;height: 100px;font-size: 20px;font-weight: bold; width: 200px;margin-left: 80%;margin-top: 35%;display: none;" (click)="endedit()">Terminar Edicion</button>-->

  <label class="h1" style="margin-top: 200px;">Descripcion del producto</label>

  <br>
  <br>
  <br>

      <ng-container *ngFor="let buy of descproduct" class="avatar-list">


        <ng-container *ngIf="buy.tipo === '0'">

          <br>
          <label>Salto de Linea</label>
          <div class="grid-containerchange">
            <button class="hijo item2-plus" style="width: 100%;border: none;margin-top: 10px;" (click)="borrarCellDesc(buy)"><p class="delete">➖</p></button>
            <button class="hijo item3-delete" style="width: 100%;border: none;margin-top: 10px;" (click)="addCell2(buy)"><p class="correct">➕</p></button>
          </div>
          <br>
            <div class="hijo h6" style="margin-top: 10px;">
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="button-56-2" style="font-weight: bold;font-size: 25px;color: black;background: white;" id="dropdownBasic1" ngbDropdownToggle>
                  Crear un nuevo elemento
                </button>
                <div class="scale-in-top" ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 100%;">

                  <button ngbDropdownItem (click)="transformElement(buy,'0')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Salto de linea </button>
                  <button ngbDropdownItem (click)="transformElement(buy,'1')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Titulo </button>
                  <button ngbDropdownItem (click)="transformElement(buy,'2')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Texto  </button>
                  <button ngbDropdownItem (click)="transformElement(buy,'3')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Lista </button>
                  <button ngbDropdownItem (click)="transformElement(buy,'4')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Imagen </button>

                </div>
              </div>

            </div>

            <br>
            <br>
            <br>
            <br>

        </ng-container>

        <ng-container *ngIf="buy.tipo==='1'">

          <div class="h1"><input class="form-control no-border formplaceholder2 inputform" style="color: black;border-color: black;" id="descitem{{indexOfDesc(buy)}}" (change)="changealert(buy)" placeholder="Ingrese su texto aqui" value="{{buy.texto}}"></div>
          <div class="grid-containerchange">
            <button class="hijo item1-ok" id="listemoji{{indexOfDesc(buy)}}" style="width: 100%;border: none;" (click)="editarCellDesc(buy)">✅</button>
            <button class="hijo item2-plus" style="width: 100%;border: none;margin-top: 10px;" (click)="borrarCellDesc(buy)"><p class="delete">➖</p></button>
            <button class="hijo item3-delete" style="width: 100%;border: none;margin-top: 10px;" (click)="addCell2(buy)"><p class="correct">➕</p></button>
          </div>
          <br>
            <div class="hijo h6" style="margin-top: 10px;">
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="button-56-2" style="font-weight: bold;font-size: 25px;color: black;background: white;" id="dropdownBasic1" ngbDropdownToggle>
                  Crear un nuevo elemento
                </button>
                <div class="scale-in-top" ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 100%;">

                  <button ngbDropdownItem (click)="transformElement(buy,'0')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Salto de linea </button>
                  <button ngbDropdownItem (click)="transformElement(buy,'1')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Titulo </button>
                  <button ngbDropdownItem (click)="transformElement(buy,'2')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Texto  </button>
                  <button ngbDropdownItem (click)="transformElement(buy,'3')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Lista </button>
                  <button ngbDropdownItem (click)="transformElement(buy,'4')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Imagen </button>

                </div>
              </div>

            </div>

            <br>
            <br>
            <br>
            <br>

        </ng-container>

        <ng-container *ngIf="buy.tipo==='2'">

          <div class="h1"> <textarea class="form-control no-border formplaceholder2 inputform" id="descitem{{indexOfDesc(buy)}}" (change)="changealert(buy)" style="width: 1000px;height: 300px;color: black;border-color: black;" placeholder="Ingrese su texto aqui" value="{{buy.texto}}"></textarea></div>
          <div class="grid-containerchange">
            <button class="hijo item1-ok" id="listemoji{{indexOfDesc(buy)}}" style="width: 100%;border: none;" (click)="editarCellDesc(buy)">✅</button>
            <button class="hijo item2-plus" style="width: 100%;border: none;margin-top: 10px;" (click)="borrarCellDesc(buy)"><p class="delete">➖</p></button>
            <button class="hijo item3-delete" style="width: 100%;border: none;margin-top: 10px;" (click)="addCell2(buy)"><p class="correct">➕</p></button>
          </div>
          <br>
            <div class="hijo h6" style="margin-top: 10px;">

              <div class="col hijo" >
                <div ngbDropdown class="d-inline-block">
                  <button type="button" class="button-56-2" style="font-weight: bold;font-size: 25px;color: black;background: white;" id="dropdownBasic1" ngbDropdownToggle>
                    Crear un nuevo elemento
                  </button>
                  <div class="scale-in-top" ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 100%;">

                    <button ngbDropdownItem (click)="transformElement(buy,'0')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Salto de linea </button>
                    <button ngbDropdownItem (click)="transformElement(buy,'1')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Titulo </button>
                    <button ngbDropdownItem (click)="transformElement(buy,'2')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Texto  </button>
                    <button ngbDropdownItem (click)="transformElement(buy,'3')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Lista </button>
                    <button ngbDropdownItem (click)="transformElement(buy,'4')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Imagen </button>

                  </div>
                </div>
              </div>

            </div>

            <br>
            <br>
            <br>
            <br>

        </ng-container>

        <ng-container *ngIf="buy.tipo==='3'">

          <ul>
            <li> <input class="form-control no-border formplaceholder2 inputform" style="color: black;border-color: black;" id="descitem{{indexOfDesc(buy)}}" (change)="changealert(buy)" placeholder="Ingrese su texto aqui" value="{{buy.texto}}"></li>
          </ul>
            <div class="grid-containerchange">
              <button class="hijo item1-ok" id="listemoji{{indexOfDesc(buy)}}" style="width: 100%;border: none;" (click)="editarCellDesc(buy)">✅</button>
              <button class="hijo item2-plus" style="width: 100%;border: none;margin-top: 10px;" (click)="borrarCellDesc(buy)"><p class="delete">➖</p></button>
              <button class="hijo item3-delete" style="width: 100%;border: none;margin-top: 10px;" (click)="addCell2(buy)"><p class="correct">➕</p></button>
            </div>
            <br>
            <div class="hijo h6" style="margin-top: 10px;">

              <div class="col hijo" >
                <div ngbDropdown class="d-inline-block">
                  <button type="button" class="button-56-2" style="font-weight: bold;font-size: 25px;color: black;background: white;" id="dropdownBasic1" ngbDropdownToggle>
                    Crear un nuevo elemento
                  </button>
                  <div class="scale-in-top" ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 100%;">

                    <button ngbDropdownItem (click)="transformElement(buy,'0')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Salto de linea </button>
                    <button ngbDropdownItem (click)="transformElement(buy,'1')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Titulo </button>
                    <button ngbDropdownItem (click)="transformElement(buy,'2')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Texto  </button>
                    <button ngbDropdownItem (click)="transformElement(buy,'3')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Lista </button>
                    <button ngbDropdownItem (click)="transformElement(buy,'4')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Imagen </button>

                  </div>
                </div>
              </div>

            </div>


            <br>
            <br>
            <br>
            <br>

        </ng-container>

        <ng-container *ngIf="buy.tipo==='4'">

          <ul class="hijo">
          <!--<img id="descitem{{indexOfDesc(buy)}}" width="50%" height="auto" src="assets/Imagenes prueba/1330715.png">-->

            <!--<input type="file" id="fileInput2" (Click)="imagedata2()" />

            <div  *ngFor="let image of images" >

              <div class="hijo">

              <img style="width:50%" [src]='image'/>

            </div>

            </div>-->



            <!--<button id="btnimg{{indexOfDesc(buy)}}" (click)="fakechargecustom(buy)"> cambiar imagen </button>-->

            <button id="btnimg{{indexOfDesc(buy)}}"  class="button-82-pushable-2" role="button" (click)="fakechargecustom(buy)">
              <span class="button-82-shadow-2"></span>
              <span class="button-82-edge-2"></span>
              <span class="button-82-front-2 text">
                Cambiar imagen
              </span>
            </button>


            <div id="btnimg2{{indexOfDesc(buy)}}" style="display: none;">

              <!--<input type="file" id="fileInput{{indexOfDesc(buy)}}" (Click)="imagedata2(buy)" accept="image/*" />-->
              <input type="file"  id="fileInput{{indexOfDesc(buy)}}" (Click)="imagedata2(buy)"  accept="image/*" style="display: none;"/>
              <button id="btnimg" class="button-82-pushable-2" role="button" for="fileInput-Label">
                <span class="button-82-shadow-2"></span>
                <span class="button-82-edge-2"></span>
                <span class="button-82-front-2 text">
                  <label id="fileInput-Label" for="fileInput{{indexOfDesc(buy)}}"
                  >Seleccionar Imagenes</label>
                </span>
              </button>

                <!--<div  *ngFor="let image of images" >

                  <div class="hijo">

                    <img style="width:50%" [src]='image'/>

                  </div>

                </div>-->

            </div>

            <br>
            <br>

            <img style="width:50%" [src]="buy.texto"/>

            <br>
            <br>


            <div class="grid-containerchange">
              <button class="hijo item1-ok" id="listemoji{{indexOfDesc(buy)}}" style="width: 100%;border: none;" (click)="editarCellDesc(buy)">✅</button>
              <button class="hijo item2-plus" style="width: 100%;border: none;margin-top: 10px;" (click)="borrarCellDesc(buy)"><p class="delete">➖</p></button>
              <button class="hijo item3-delete" style="width: 100%;border: none;margin-top: 10px;" (click)="addCell2(buy)"><p class="correct">➕</p></button>
            </div>
            <br>

          </ul>

            <div class="hijo h6" style="margin-top: 10px;">

              <div class="col hijo" >
                <div ngbDropdown class="d-inline-block">
                  <button type="button" class="button-56-2" style="font-weight: bold;font-size: 25px;color: black;background: white;" id="dropdownBasic1" ngbDropdownToggle>
                    Crear un nuevo elemento
                  </button>
                  <div class="scale-in-top" ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 100%;">

                    <button ngbDropdownItem (click)="transformElement(buy,'0')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Salto de linea </button>
                    <button ngbDropdownItem (click)="transformElement(buy,'1')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Titulo </button>
                    <button ngbDropdownItem (click)="transformElement(buy,'2')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Texto  </button>
                    <button ngbDropdownItem (click)="transformElement(buy,'3')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Lista </button>
                    <button ngbDropdownItem (click)="transformElement(buy,'4')" style="text-align: center;font-weight: bold;font-size: 20px;color: black;"> Imagen </button>

                  </div>
                </div>
              </div>

            </div>

          <br>
          <br>
          <br>
          <br>

        </ng-container>

      <!--<tr class="row100" style="border:3px solid #CAF0F8;margin-top: 10px;">
        <td scope="row" id="text{{indexOf(buy)}}" style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #CAF0F8;background-color: #03045E;" (dblclick)="transform(buy)">{{buy.texto}}</td>
        <td scope="row" id="text2{{indexOf(buy)}}" style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border:3px solid #CAF0F8;background-color: #0077B6;" (dblclick)="transform(buy)">{{buy.tipo}}</td>
        <td scope="row" style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border: 3px solid #CAF0F8;width: 100px;" #3><button class="hijo" style="width: 100%;border: none;" (click)="borrarCell(buy)">⛔</button></td>
        <td scope="row" style="text-align: center;padding: 20px;text-transform: capitalize;font-weight: bold;border: 3px solid #CAF0F8;width: 100px;" #3><button class="hijo" style="width: 100%;border: none;" (click)="addCell(buy)">+</button></td>
      </tr>-->
      </ng-container>


      <div class="col hijo" style="margin-top: 100px;">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="button-56" style="font-weight: bold;font-size: 25px;background: white;" id="dropdownBasic1" ngbDropdownToggle >
            <label style="color: #EF233C;"> Crear un nuevo elemento </label>
          </button>
          <div class="slide-in-blurred-top" ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 100%;">

            <button ngbDropdownItem (click)="createNewElement('0')" style="text-align: center;font-weight: bold;font-size: 20px;color: #D90429;"> Salto de linea </button>
            <button ngbDropdownItem (click)="createNewElement('1')" style="text-align: center;font-weight: bold;font-size: 20px;color: #D90429;"> Titulo </button>
            <button ngbDropdownItem (click)="createNewElement('2')" style="text-align: center;font-weight: bold;font-size: 20px;color: #D90429;"> Texto  </button>
            <button ngbDropdownItem (click)="createNewElement('3')" style="text-align: center;font-weight: bold;font-size: 20px;color: #D90429;"> Lista </button>
            <button ngbDropdownItem (click)="createNewElement('4')" style="text-align: center;font-weight: bold;font-size: 20px;color: #D90429;"> Imagen </button>

          </div>
        </div>
      </div>


            <br>
            <br>
            <br>

<!--<button id="btnimg" (click)="fakecharge()"> cambiar imagen</button>

<div id="btnimg2" style="display: none;">

 <input type="file" id="fileInput" (Click)="imagedata()" multiple/>

    <div  *ngFor="let image of images" >

      <div class="hijo">

      <img style="width:50%" [src]='image'/>

      </div>

    </div>

</div>

  <br>
  <br>
  <br>

  <button (click)="pasardato()">Pasar Dato</button>
  <button (click)="imagedata()">Pasar Dato</button>


</div>-->


    <!--<div class="col hijo" >
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="button-56" style="font-weight: bold;font-size: 25px;background: white;" id="dropdownBasic1" ngbDropdownToggle >
          <label style="color: #EF233C;"> Crear un nuevo elemento </label>
        </button>

        <div class="slide-in-blurred-top" ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 100%;">

          <button ngbDropdownItem (click)="createNewElement('0')" style="text-align: center;font-weight: bold;font-size: 20px;color: #D90429;"> Salto de linea </button>
          <button ngbDropdownItem (click)="createNewElement('1')" style="text-align: center;font-weight: bold;font-size: 20px;color: #D90429;"> Titulo </button>
          <button ngbDropdownItem (click)="createNewElement('2')" style="text-align: center;font-weight: bold;font-size: 20px;color: #D90429;"> Texto  </button>
          <button ngbDropdownItem (click)="createNewElement('3')" style="text-align: center;font-weight: bold;font-size: 20px;color: #D90429;"> Lista </button>
          <button ngbDropdownItem (click)="createNewElement('4')" style="text-align: center;font-weight: bold;font-size: 20px;color: #D90429;"> Imagen </button>

        </div>
      </div>
    </div>-->

<br>
<br>
<br>
<!--style="background:linear-gradient(336deg, #EDF2F4 29%, #D90429 79%)"
linear-gradient(135deg, #7f279c 0%, #2e279d 100%);-->


<br>
<br>
<br>
